[2016-11-16 16:39] Flamefork opened #1 "Search for apps outside `/Applications`"
Trying to find&launch `/Users/flamefork/Development/tizen-studio/TizenStudio.app`.

Quick comparison with Spotlight:

![screenshot 2016-11-16 20 37 50](https://cloud.githubusercontent.com/assets/20203/20356006/bc991cbc-ac3c-11e6-9dd9-884ea7e2656e.png)
![screenshot 2016-11-16 20 37 58](https://cloud.githubusercontent.com/assets/20203/20356012/bf726330-ac3c-11e6-9201-af5396adbf54.png)

[2016-11-17 20:38] perfectum1 opened #2 "Dark theme"
Add dark OS X theme

[2016-11-17 21:49] KELiON commented on #2
@perfectum1 do you have examples of good dark themes for other apps? Would be cool to have a list of themes, that users use now

[2016-11-17 22:00] KELiON commented on #1
@Flamefork 👍 Fixed in [version 0.0.2](https://github.com/KELiON/cerebro/releases/tag/0.0.2)

[2016-11-17 22:00] #1 closed

[2016-11-18 06:54] perfectum1 commented on #2
@KELiON dark theme as the spotlight: https://up.kibakoapp.com/UfqbKrEM0w

[2016-11-18 07:39] perfectum1 commented on #2
@KELiON I drew a mockup for a dark theme - https://www.dropbox.com/s/qi1e46xy9v01d23/cerebro-dark.png?dl=0

[2016-11-18 12:28] saimonmoore opened #3 "Separate plugins by OS"
Right now plugins are OS-ignorant and pretty hard coded for osx. Would be good to have a scheme where by the correct os-specific plugin is chosen for a certain feature

[2016-11-19 20:51] KELiON commented on #2
@perfectum1 awesome! I've added dark theme in [version 0.0.3](https://github.com/KELiON/cerebro/releases/tag/0.0.3):

![screen shot 2016-11-19 at 21 48 52](https://cloud.githubusercontent.com/assets/594298/20458323/ff42ca24-aea1-11e6-8f59-f6a4fc92b370.png)

[2016-11-19 20:51] #2 closed

[2016-11-20 21:13] tonkoshkurik opened #4 "just white line and icon in toolbar"
При запуске вижу только белую полосу и иконка в панеле инструментов. Ни настроки ни само приложение не рабоет.
Mac Book pro mid 2012 el capitan
Node v7.0.0 && NPM 3.10.8

[2016-11-20 22:00] KELiON commented on #4
@tonkoshkurik возможно что-то связано с El Capitan, т.к. я тестировал только на Sierra. Давайте попробуем так: [тут лежит](https://www.dropbox.com/s/j9t9eu4h5qwocxc/Cerebro.dmg?dl=0) билд с включенными Developer Tools, при открытии должно выглядеть как-то так:

![](http://g.recordit.co/xDpDl0Vrmd.gif)

Можете переключить на console и скинуть ошибки, которые будут там?

Всю следующую неделю буду в

[2016-11-21 16:03] perfectum1 commented on #2
@KELiON круто! По-русски напишу. Можешь еще добавить немного воздуха и сделать отступы как на мокапе. Будет больше похоже на спотлайт и приятней глазу :) Могу скинуть мокап в зеплине. Что думаешь?

[2016-11-21 16:05] perfectum1 commented on #2
И еще возможно бэкграунд блюр для фона сделать?

[2016-11-23 19:03] KELiON commented on #2
@perfectum1 да, можно по-русски) Ну то что будет больше похоже на стоплайт это скорее минус, мне наоборот бы хотелось куда-то в сторону от него по дизайну уйти. Если есть какие-то идеи — буду рад послушать.

Но отступы увеличу, да) Скинешь ссылку?

Blur добавлю, но чуть позже, т.к. это не просто стили, нужно будет версию движка (electron) обновлять.

[2016-12-16 10:04] #4 closed

[2016-12-16 12:53] perfectum1 commented on #2
@KELiON только увидел сообщение. Напиши свою почту я расшарю мокап

[2016-12-28 14:57] xomikronx opened #5 "Change Translate default language"
Hi cerebro team,

Any way to change the default language for Translate?  It's defaulting from English to Russian.  Can we change the default destination language?

[2017-01-02 16:23] KELiON commented on #5
@xomikronx hello! Yes, you can change your country in settings and it will change your default target language in translate and default target currency.

[2017-01-03 22:27] xomikronx commented on #5
KELiON,

My country settings is set to US.  It's still target language is defaulting to Russian.

I'm on Mac 10.12.2.

[2017-01-04 14:01] KELiON commented on #5
@xomikronx than it is weird:) What phrase do you try to translate? And from which language? What is detected language in your case? I suppose problem not with the target language, but with the detected language of your input.

[2017-01-04 14:36] xomikronx commented on #5
Any phrase applies.  The detected language (US) is correct.  It is only the target language that I would like to change the default for.  Right now, default is Russian.

[2017-01-04 14:50] KELiON commented on #5
@xomikronx ok, now I see. Let me explain how it works now: there is a list of languages (eng, rus, spanish, etc) and Russian is second in this list. If detected language is the same as your default language (which depends on the country from settings), then next language from this list is used (English is your default language so Russian is used).

I'm thinking about adding plugin-related settings

[2017-01-09 07:50] staff0rd opened #6 "postinstall fails on node v7"
[code]

[2017-01-09 08:41] staff0rd opened #9 "Latest build is broken"
On the latest build, running either `dev` or `build && start` results in the application launching, and the main window displayed as a thin bar with no text entry visible.  Clicking in the box or typing doesn't seem to do anything, the bar remains white.

The application's icon menu toggles visibility on and off, however `Plugins` and `Preferences` just display the empty white bar if the applicati

[2017-01-09 08:44] staff0rd commented on #9
![image](https://cloud.githubusercontent.com/assets/6289998/21760929/e4106958-d6a3-11e6-88b1-169587f3dcea.png)

Screenshot from Win10 (I realise you don't support Windows, but the symptoms are the same on MAC OS, although the window's corners are rounded there).

[2017-01-12 14:12] KELiON commented on #9
@staff0rd can you try to run it in development (`npm run dev`), and check what errors do you have in dev tools? You can toggle dev tools by `cmd+i`.

[2017-01-12 14:16] KELiON commented on #6
@staff0rd it is problem with your local node version. This application currently works with node version 6.x (i.e I'm using v6.5.0) and npm version 3.

It is required because electron includes the same versions and installed modules with native extensions should be built with the same version.

To solve this problem you can use [nvm](https://github.com/creationix/nvm) or [n](https://github.com/tj/

[2017-01-13 02:24] staff0rd commented on #6
Indeed, that's one way I ended up getting it going, however the readme states 7 is supported;

Additionally, it is only the presence of the postinstall script that causes it to fail.  The app still runs in v7, so is just removing the postinstall an option?

[2017-01-13 02:35] staff0rd commented on #9
Mac (node v6)
[code]

Windows (node v7)
[code]

To resolve these errors, the following needs to be run under the context of `cerebro/app`;

[code]

Is a PR required for this?

[2017-01-13 06:57] staff0rd opened #10 "Console often displays setState errors"
Looks like promise needs to be cancelled in unMount;
https://facebook.github.io/react/blog/2015/12/16/ismounted-antipattern.html

[2017-01-13 07:09] staff0rd opened #11 "Contacts do not appear"
Contacts does not seem to be providing any results or appearing at all

[2017-01-13 07:15] staff0rd commented on #11
There was a "Terminal would like access to your contacts" prompt hidden amongst the windows.  After clicking ok, contacts appeared in the results.

[2017-01-13 07:15] #11 closed

[2017-01-13 10:24] KELiON commented on #9
@staff0rd it is not a code issue, it is issue with installation process. I've added npm script `rebuild` in `cerebro/app/package.json`, so you can run `npm run rebuild` from `cerebro/app` to fix it.

I'd only add some information about fixing this issue in Readme.md.

[2017-01-13 10:42] KELiON commented on #9
[Added](https://github.com/KELiON/cerebro/pull/13) this information to Readme

[2017-01-13 10:42] #9 closed

[2017-01-13 10:44] KELiON commented on #6
@staff0rd it works with node_modules in root folder, but not in `./app/`. Inside `./app` folder, `node_modules` built with native extensions and you have to build these modules with the same node version, that is used by electron.

[2017-01-13 11:16] staff0rd commented on #6
I don't follow - running `npm install` from root is what causes the error in node v6.

[2017-01-13 11:24] KELiON commented on #10
@staff0rd I thought about adding it, but after some investigation I found, that it is just a warning in development mode, and in production this `setState` just ignored. `makeCancellable` approach is not real cancellation of HTTP request, it is just skipping `setState` after component unmounted. Eventually, adding this `makeCancellable` will increase code base size and complexity without any advan

[2017-01-13 11:24] #10 closed

[2017-01-13 11:29] KELiON commented on #6
@staff0rd so, you have `Current node version is not supported for development` error when you run `npm install` from root on node v6?

[2017-01-13 11:55] KELiON opened #14 "Get applications list on Windows"
Find a way to get list of all installed applications on Windows

[2017-01-13 11:56] KELiON opened #15 "Get applications list on Linux"
Cerebro has a lot of plugins, but most used of them is searching and launching applications. There is a [plugin](https://github.com/KELiON/cerebro/blob/master/app/main/plugins/core/apps/index.js) to do it on OSx.

Now we need to add a plugin to do the same on linux, so we need:

1. Find a way to get list of all installed applications and cache this list;
2. This list should contain human-friendly

[2017-01-13 11:56] KELiON opened #16 "Get file icon on windows"
Find a way to read file icon on Windows

[2017-01-13 11:57] KELiON opened #17 "Get file icon on Linux"
Find a way to read file icon on Linux

[2017-01-13 11:58] KELiON commented on #3
@saimonmoore It is started in https://github.com/KELiON/cerebro/pull/12. You can test it on linux, it should work (but without applications/define/contacts plugins).

I've also created several issues for full linux support: https://github.com/KELiON/cerebro/issues?q=is%3Aissue+is%3Aopen+label%3Alinux

[2017-01-13 12:44] KELiON opened #18 "Design Cerebro logo/icon"
We are looking for someone who use Cerebro and interested in improving this app. If you are a designer or you know someone, who can help – let's discuss it here!

[2017-01-13 22:53] staff0rd commented on #6
Sorry, I mean't v6.

I see you've updated the readme to target v6 only, which essentially closes this out.  I will note however that removing the `postinstall` script is also a solution, as the application still runs fine in v7.  The `postintall` script seems superfluous.

[2017-01-13 22:53] #6 closed

[2017-01-13 23:07] staff0rd opened #19 "Window stays open when choosing a suggestion"
## Window hides on enter ✅

**REPRO**

1. Open cerebro window
2. Type "anything"
3. Hit enter

**EXPECTED & ACTUAL**
Browser opens, cerebro hides

## Window does not hide on enter :x:

**REPRO**
1. Open cerebro window
2. Type "anything"
3. Arrow over to suggestion list
4. Hit enter

**EXPECTED**
Browser opens, cerebro hides

**ACTUAL**
Browser opens, cerebro stays open

[2017-01-13 23:09] staff0rd opened #20 "Hide on lose focus"
Would like the option for cerebro to hide when the window loses focus, for example;

1. Open cerebro
2. Click on another window
3. cerebro hides

[2017-01-14 09:45] KELiON commented on #20
@staff0rd currently it works, but only in production environment and when developer mode (from preferences) turned off:

![](http://g.recordit.co/afC0g7j3a9.gif)

It is needed in development environment/mode for developer tools. It is annoying when you open developer tools and move focus there – main windows is hidden and it is harder to debug UI

[2017-01-14 09:45] #20 closed

[2017-01-14 09:52] KELiON commented on #19
Looks like it is related to https://github.com/KELiON/cerebro/issues/20, because in production environment with developer mode turned off Cerebro window is hidden when focus lost

[2017-01-14 10:13] #19 closed

[2017-01-17 01:20] staff0rd opened #22 "Icon appears jagged in Windows"
I briefly saw icons included in the latest commits - possibly the reason why the icon is displayed low quality in windows now;
![image](https://cloud.githubusercontent.com/assets/6289998/22004387/3f586f2a-dcaf-11e6-9c1d-3a7738c0a841.png)

[2017-01-17 09:03] KELiON commented on #22
@staff0rd is it tray icon? Was it like this before, when you managed to launch an app on windows?

[2017-01-17 12:54] matueranet opened #24 "Starting app on windows fails"
I just downloaded the windows release and I get two dialog popups:

    The program can't start because node.dll is missing from your computer. Try reinstalling the program to fix this problem.

The other dialog states (comes after I click OK on the first one):

    The program can't start because ffmpeg.dll is missing from your computer. Try reinstalling the program to fix this problem.

[2017-01-17 13:51] staff0rd commented on #22
Strangely it is only one of my windows machines that displays this symptom - environmental I guess.

[2017-01-17 13:51] #22 closed

[2017-01-17 14:36] KELiON commented on #3
@saimonmoore starting from version [0.2.1](https://github.com/KELiON/cerebro/releases/tag/0.2.1) Linux and Windows are supported, we only need to add plugins to launch application there (#14, #15)

[2017-01-17 14:36] #3 closed

[2017-01-18 00:49] staff0rd opened #26 "Webpack INVALID watch not triggered on windows"
Works on mac, not on windows - file changes do not trigger a bundle rebuild.

[2017-01-18 09:00] KELiON commented on #26
@staff0rd interesting. Do you have an experience with webpack and modules reloading on windows? Did it work? If so, can you share webpack config that works on windows?

[2017-01-18 15:58] KELiON commented on #24
@matueranet I've added [windows installer](https://github.com/KELiON/cerebro/releases/download/0.2.1/Cerebro.Setup.0.2.1.exe) instead of .exe application file. It should fix your issue. Can you try it please?

[2017-01-18 16:00] Flascher commented on #24
I was having this issue as well, and Cerebro now opens without any errors after running the installer.

[2017-01-18 16:23] matueranet commented on #24
Thanks it works now. I am amazed at how fast it is! Was earlier looking at zazuapp, but thinking of making the switch.

[2017-01-18 16:23] #24 closed

[2017-01-18 17:04] KELiON commented on #24
@matueranet awesome, thank you! On Windows and Linux it still needs a lot of work, but I'm trying to improve it :)

[2017-01-18 19:40] matueranet commented on #24
@KELiON If you are looking for a Windows Beta tester or want to have something tested on Windows, just send me a build. I would be happy to test it a few days and report any issues I might encounter.

[2017-01-25 00:25] captainhook opened #32 "Alternative search engines and translation services"
Although very useful built in features, it would be good to have a toggle to disable/enable the default search and translate plugins. Those concerned with privacy may not like use Google/Yandex.

 I will try to work on a duckduckgo search implementation.

[2017-01-26 10:38] evsign commented on #15
1. For getting list of all applications you can search all executable from $PATH variable.
2. For human-friendly names you can search and parse *.desktop files in /usr/share/applications or ~/.local/share/applications
3. Parse *.desktop files and get path to icons

[2017-01-26 10:58] KELiON commented on #15
@evsign awesome, I'll try it:) Should it work for different systems (ubuntu, freebsd, debian) or only for some of them?

[2017-01-26 12:20] wstarcev opened #33 "Start position on two monitor systems"
Expect to see search line in active monitor instead of
![2017-01-26 15-19-23](https://cloud.githubusercontent.com/assets/668635/22331142/e233d612-e3da-11e6-9abb-18d8a23dd840.png)

[2017-01-26 12:22] wstarcev commented on #33
![2017-01-26 15-21-41](https://cloud.githubusercontent.com/assets/668635/22331196/30813102-e3db-11e6-92b2-33fca7abfd64.png)
![2017-01-26 15-21-47](https://cloud.githubusercontent.com/assets/668635/22331195/30805a7a-e3db-11e6-849d-5cb455241ea4.png)

[2017-01-26 12:22] hotice commented on #15
Here's a screenshot from a similar application with the paths where it looks for .desktop files: http://i.imgur.com/j73W2m2.png . This should cover most, if not all Linux distributions.

[2017-01-26 12:23] timurkhafizov opened #34 "Cerebro does not show up in full-screen mode on Mac"
When I toggle Cerebro in full-screen mode search window shows up on Desktop instead of current window.

It is expected to have search window on the top of current application like Spotlight does.
Is it relatively easy fix?

I would like to help if you can point me to the code I can start my investigations from.

[2017-01-26 12:23] vessd commented on #15
This should work on most distributions. But it is better to use the [specification](https://specifications.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html#desktop-file-id).

[2017-01-26 12:24] hotice opened #35 "Cerebro window position wrong with two monitors (Ubuntu)"
In a 2 monitor setup, Cerebro is aligned on the left of the second monitor each time it's ran. This occurs with Cerebro 0.2.3 in Ubuntu 16.10 64bit.

[2017-01-26 12:27] hotice commented on #15
But also remember to search for Snaps, which are pretty new...

[2017-01-26 12:50] vessd commented on #15
@hotice
Hmm, snap allows you to install two versions of the application. How then parse desktop files?
As for me, it is better to leave this issue for later. These applications are not so common.

[2017-01-26 12:52] hotice commented on #15
@vessd that I do not know, I am sorry. But snaps are pretty popular in Ubuntu already...

[2017-01-26 13:02] grundiss commented on #35
Same on mac10.12.20

[2017-01-26 13:49] AlexAlabyev opened #36 "Tray icon color (windows)"
It's better to change the color of the tray icon to white

![capture1](https://cloud.githubusercontent.com/assets/13764106/22333331/b6ed4c7a-e3e6-11e6-8ae3-d9ec9cb6fdc8.PNG)

Download image (96% white):
![tray_icontemplate 2x](https://cloud.githubusercontent.com/assets/13764106/22333335/c4a6e0ce-e3e6-11e6-95ba-94d4912fd8e5.png)
[image](https://cloud.githubusercontent.com/assets/13764106/22333335/c

[2017-01-26 14:22] wstarcev commented on #36
Gnome Shell dark theme vote +1 for white color too.

[2017-01-26 14:37] TheRndCoder opened #37 "Mac keyboard symbols in use instead of Super, CTRL, ALT, etc... for Windows"
![cerebro_2017-01-26_08-34-02](https://cloud.githubusercontent.com/assets/25141697/22334957/4d977fd2-e3a2-11e6-87aa-663a35370946.png)

On Windows, the symbols for Mac keyboard are still present and in use instead of ALT, CTRL, Super key, etc...

This could create confusion for new users that aren't familiar with Mac keyboards.

[2017-01-26 14:44] AlexAlabyev opened #38 "Command bypass to terminal with ">""
Please consider implementing command bypass to terminal, so that when you type in something like:
`> cd desktop`
1. terminal (cmd.exe on windows) would open up and
2. the code would get passed there

It's a very helpful feature in [Wox ](https://github.com/Wox-launcher/Wox) which is an alternative to cerebro.

- **an option** to prevent it from closing after command execution would be very handy,

[2017-01-26 15:58] timurkhafizov commented on #34
Seems problem solved after restart.

[2017-01-26 15:58] #34 closed

[2017-01-26 16:19] neronmoon opened #39 "[macos] invisible on fullscreen apps"
Steps to reproduce on mac os sierra:
1) switch chrome (for example) to fullscreen mode
2) try to toggle cerebro
3) ???
4) switch to default workspace
5) cerebro is visible for second

[2017-01-26 16:21] neronmoon commented on #39
Fixed after restart. Whaaaaat? Not sure it may be closed.

[2017-01-26 16:42] KELiON commented on #38
@AlexAlabyev can you try [shell](https://github.com/KELiON/cerebro-shell) plugin? It should solve your problem, but it even shows results in preview:

![screen shot 2017-01-26 at 17 41 34](https://cloud.githubusercontent.com/assets/594298/22340735/be35669a-e3ee-11e6-8dbd-5be100789696.png)

[2017-01-26 16:50] AlexAlabyev commented on #38
@KELiON sorry, I forgot to mention. I'm on windows. And symbol $ doesn't do anything, it just searches google
![1](https://cloud.githubusercontent.com/assets/13764106/22341079/985c8112-e400-11e6-8753-969b239450c5.gif)

[2017-01-26 17:41] KELiON commented on #38
@AlexAlabyev oh, ok, it is known issue. I'll try to fix it on windows!

[2017-01-27 11:03] maxime1992 opened #40 "Plugin install : Doc"
Hi ! This looks really awesome, thanks for this work !

I installed cerebro and I wanted to try some plugin but I couldn't find how to do that.

Can add few lines about that in the README ?

Or if it's really simple just reply to this issue but I think it might help others :)

Thanks

[2017-01-27 11:04] julianorafael opened #41 "could not find machine-id file"
Just installed cerebro on Arch Linux and this happened:
[code]

I solved it by creating a sym link to the file that actually was located at `/etc/machine-id` instead of `/var/lib/dbus/machine-id`

[2017-01-27 12:51] maxime1992 commented on #40
Sorry I didn't see

![image](https://cloud.githubusercontent.com/assets/4950209/22371502/bedd460e-e497-11e6-85bb-a0bafb2c3c47.png)

...

[2017-01-27 12:51] #40 closed

[2017-01-27 13:14] lavir opened #42 "Show icons for applications and preferences on MacOS"
Cerebro does not display icons for applications and preferences on MacOS

Probably the reason is in that the apps in MacOS are folders. In the `apps/index.js` uses `path` for icon which is in this case is dir. Real icon is bit deeper `AppName.app/Contents/Resources/*.icns `

[2017-01-27 13:19] lavir opened #43 "Create a team in Slack?"
Will be nice to have a team in the Slack for discussing and syncs tasks/bug fixes.
Possible some other alternative (Gitter?) to the Slack, but I personally prefer the Slack :)

[2017-01-27 13:20] egoist opened #44 "Persist search result"
**current**:

the search result would be cleared after toggling cerebro with shortcut

**expected:**

result should not be cleared.

[2017-01-27 13:24] lavir commented on #44
or like in Alfred press UP key to listing previous commands

[2017-01-27 13:25] dmitryTsatsarin commented on #43
https://gitter.im/KELiON-cerebro
created. But as for me, "issues" is much better

[2017-01-27 13:33] lavir commented on #43
ok, issues so issues

[2017-01-27 16:00] reflog opened #45 "Problems developing on Windows"
Hi!
First of all - congrats on an awesome project!
I wanted to contribute a plugin to support results from Everthing by voidtools (a great file indexer on Windows) and wrote a plugin https://github.com/reflog/cerebro-plugin-everything
But I cannot test it well, since the instructions are very Mac oriented and don't work in Windows land.
Opening dev tools doesn't work, since they are shown like thi

[2017-01-27 18:54] benone opened #46 "Exception Object has been destroyed"
[code]

[2017-01-28 04:43] skys215 commented on #14
In Launchy, there's a default list of directory to find the applications. Like `C:\Program Files\` for Windows, and can specify the file type which you want to add to index, like `.exe` on Windows.

[2017-01-28 04:44] skys215 opened #47 "Plugin documents"
Hi,
I can't find the document for writing the plugin.
Is there are plan to start writing the document?
Thanks.

[2017-01-28 09:13] gluons commented on #14
Windows UWP apps are in `C:\Program Files\WindowsApps` but you need **Administrator** right to access this folder.

[2017-01-28 14:03] reflog commented on #47
see here: https://github.com/KELiON/cerebro/blob/master/docs/plugins.md

[2017-01-28 14:38] skys215 commented on #47
Aha! Sorry that I didn't see it.

[2017-01-28 14:38] #47 closed

[2017-01-28 14:47] Kageetai commented on #45
Hey, to open dev tools properly, open the menu on the upper left and pop them out as a separate window.

[2017-01-28 14:49] Kageetai commented on #42
Icons work perfectly fine for me. Can you add a screenshot or so to clarify?

[2017-01-28 15:14] reflog commented on #45
Tried that, unable to click any menu :(

On Sat, Jan 28, 2017 at 4:47 PM Kageetai <notifications@github.com> wrote:

[2017-01-28 15:54] Kageetai commented on #45
Oh sorry I meant the upper-right and the men with the three dots there

[2017-01-28 16:00] reflog commented on #45
I know, but on Windows, this button (...) is non-clickable.

On Sat, Jan 28, 2017 at 5:54 PM Kageetai <notifications@github.com> wrote:

[2017-01-28 18:01] harish095 opened #49 "File search in windows"
Hello, I was looking for a better alternative for Alfred on windows. After trying all the available software, I liked Cerebro and [Wox Launcher](http://www.getwox.com/). But an important feature missing in Cerebro is system wide file search. Wox launcher has this feature by using [Everything](https://www.voidtools.com/) plugin. I suggest same can be done for Cerebro.

[2017-01-29 00:05] Calinou opened #50 "Add alternative search engines and translation services"
It looks like only Google search and Yandex translate are available right now. It'd be nice to have DuckDuckGo search as an option, for example.

[2017-01-29 06:50] acornejo opened #51 "chrome extension"
Is it feasible to package this as a chrome extension?

This would make it possible to run on chromeOS too.

[2017-01-30 08:02] oskarkrawczyk opened #52 "Missing apps"
I sometimes see missing obvious apps in the search results, like this:

<img width="719" alt="screen shot 2017-01-30 at 09 01 09" src="https://cloud.githubusercontent.com/assets/34213/22415856/c7bee70c-e6ca-11e6-8159-2b77923e1f3c.png">

Obviously missing the actual `App Store.app` – only finding the prefpane.

[2017-01-30 08:30] KELiON commented on #40
@maxime1992 anyway you are not the first one who couldn't find it after first look, so I'll try to do it easier

[2017-01-30 08:54] KELiON commented on #15
Awesome, thanks for links @vessd @hotice, it will help a lot!

[2017-01-30 09:10] KELiON commented on #33
Merging it into #35

[2017-01-30 09:39] KELiON commented on #43
@lavir @dmitryTsatsarin issues are good for tracking everything in one place, but some chat is good for small questions. I like slack, but for open-source project, gitter works better, I suppose. At least, it doesn't clean history and you can search through all messages.

So, let's use [gitter](https://gitter.im/KELiON-cerebro/Lobby) for that

[2017-01-30 09:48] KELiON commented on #36
@AlexAlabyev thanks for report!

I'll check how to apply it for dark-only windows and linux, but as I understand now, dark/light icon switching in electron [works only on mac](https://github.com/electron/electron/blob/master/docs/api/native-image.md#template-image).

Since I use only mac, my questions for windows users: is it ok to show in tray not black and white icon, but just [usual app icon](h

[2017-01-30 09:52] KELiON commented on #37
@TheRndCoder agree! I'll work on that

[2017-01-30 09:55] KELiON commented on #41
@julianorafael I've created an issue in [machine-id](https://github.com/davidwood/machine-id/issues/1) package repository, but in case if this repo is not supported I'll fix it in cerebro only

[2017-01-30 09:57] KELiON commented on #42
@lavir what icons do you mean? Can you attach a screenshot? For me preferences icons work well

![screen shot 2017-01-30 at 10 56 31](https://cloud.githubusercontent.com/assets/594298/22418803/d74c9b32-e6da-11e6-9f75-2795f44e0ea7.png)

[2017-01-30 10:09] KELiON commented on #45
@reflog yep, looks like it is a bug. To open dev-tools you can try to type something (to see some results in cerebro window), and open dev tools after that. In this window is bigger and you can resize it, so you can see dev tools (and try to detach dev tools windows from cerebro windows by clicking ... button).

Also, would be cool to fix it for other users.  [There is](https://github.com/electron

[2017-01-30 10:12] KELiON commented on #50
Duplicate of #32. @captainhook said that he will try to implement DuckDuckGo plugin, so you can ping or coordinate to help him

[2017-01-30 10:12] #50 closed

[2017-01-30 10:15] KELiON commented on #52
@oskarkrawczyk yep, app store is also missed for me. Do you have other examples? Going to fix it

[2017-01-30 10:17] KELiON commented on #51
@acornejo theoretically yes, but we should bundle it with web-APIs only, without native things like files/apps search, contacts, etc.

What would you like to see in chrome extension?

[2017-01-30 10:19] KELiON commented on #49
in #45 you can find a link @reflog's version of [everything plugin](https://github.com/reflog/cerebro-plugin-everything) that is work-in-progress. So, you can wait some time or help him with development :)

[2017-01-30 10:20] KELiON commented on #46
@benone do you have any steps to reproduce it?

[2017-01-30 10:22] KELiON commented on #44
@lavir did you try it? Up key shows previous result now. Would you like to change it somehow? /cc @egoist

[2017-01-30 10:41] egoist commented on #44
@lavir that would be neat but `Persist search result` sounds reasonable? it still requires pressing `up` to get previous result, maybe adding an option to enable `Persist search result`?

[2017-01-30 10:43] KELiON commented on #43
OR we can do slack community with http://slackarchive.io/.

[2017-01-30 10:43] KELiON commented on #43
👍 here for slack

[2017-01-30 10:43] KELiON commented on #43
👍 here for gitter

[2017-01-30 11:01] KELiON commented on #44
@egoist am I right that you just don't want to clear search field when window hidden/shown and show the same results?

[2017-01-30 11:02] egoist commented on #44
@KELiON yep

[2017-01-30 11:22] KELiON commented on #44
@egoist I like idea of checkbox in preferences, adding it to task list!

[2017-01-30 11:27] reflog commented on #45
@KELiON - thanks, that worked! Managed to undock the devtools and now able to see the problems.

To communicate with Everything, my plugin is using node-ffi, which is compiled natively and has problems starting under Electron. Here's the log:
[code]

Do you have any tips on how to package my module correctly so it would work under Cerebro? This is my first attempt at Electron plugin, so it's a new

[2017-01-30 12:12] KELiON commented on #45
@reflog can you check that this package installed and works? You can just run `node` from `d:\dev\cerebro-plugin-everything\` and try to require it.

[2017-01-30 12:21] reflog commented on #45
When I run the code with my local node it runs fine, the problem is with
electron's node runtime being different from my local one.

On Mon, Jan 30, 2017, 14:12 Alexandr Subbotin <notifications@github.com>
wrote:

[2017-01-30 12:29] KELiON commented on #45
@reflog ok, another question: can you check that your local node/npm version are the same, that current electron version uses?

Also, you can try to rebuild your native extensions for electron's node/npm by command:
[code]

[2017-01-30 13:33] reflog commented on #45
Yea, that's the path I'm on right now, tried doing the node-gyp rebuild, but after it's done the bindings are at:
c:\Users\reflog\AppData\Roaming\Cerebro\plugins\node_modules\cerebro-plugin-everything\node_modules\ffi\build\Release\ffi_bindings.node

And as you can see from the log I posted before, it's not where Electron is looking for them :(
Any ideas?

[2017-01-30 13:42] KELiON commented on #45
@reflog hm, no idea. Maybe [this](https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md) can help?

[2017-01-30 14:02] lavir commented on #42
The screenshot below
I would like notice that I launched Cerebro by `npm run dev`.
![screen shot 2017-01-30 at 15 33 35](https://cloud.githubusercontent.com/assets/1274746/22425687/fef1a194-e704-11e6-8acf-94553d46171a.png)

[2017-01-30 14:03] ibbatta commented on #51
@KELiON I'd like to see:

- translations
- gif finder
- terminal (maybe)

[2017-01-30 14:20] KELiON commented on #42
@lavir and does it work when you launch precompiled .app file?

Also, I believe there is something broken for you in background process:

1) Type settings and turn on developer mode, turn on "show in menu bar";
2) Toggle Cerebro window and from tray menu select development → dev tools (background), switch to `console` tab;
3) Reload everything (development → reload);
4) Try to find 'mouse' and che

[2017-01-30 14:21] KELiON commented on #51
@ibbatta terminal in chrome extension is impossible, but gif/emoj/translations/google maps could work. I'll about it, but not in few closest releases, because it needs a lot of work. Thanks for idea!

[2017-01-30 14:23] oskarkrawczyk commented on #52
@KELiON I thought I've seen this happening for other apps but I might have been wrong

[2017-01-30 14:41] ibbatta commented on #51
@KELiON In fact, I had written "maybe". Let this child dream free. Let this child to dream ahahah
Sure, those are just some "tips / preferences"

[2017-01-30 16:17] acornejo commented on #51
Even the examples you mention would be doable in a chrome extension, but they would require a separate cerebro plugin:

- files: https://developer.chrome.com/apps/fileSystem
- apps: https://developer.chrome.com/extensions/management
- contacts: https://developers.google.com/people/

Of course not all is possible though (I.e. terminal) but I believe we could get pretty close.

[2017-01-30 16:37] ibbatta commented on #51
@acornejo yes i (sadly) know about terminal. I was warking on a chrome extensione in these days for my society, so tell me if you need any help :)

[2017-01-30 17:11] StarpTech opened #56 "Cant find any program on windows"
"Spotify", "Slack" no app can be found when I type the exact name.

Windows 10
Cerebro: 0.2.3
No plugins installed

[2017-01-30 17:32] KELiON commented on #56
Applications search currently works only on mac, you can check progress for windows in #15

[2017-01-30 17:32] #56 closed

[2017-01-30 17:34] KELiON commented on #52
@oskarkrawczyk fixed in #54 and will be included in next version

[2017-01-30 19:03] #49 closed

[2017-01-30 19:29] oskarkrawczyk opened #57 "Requiring NPM"
Are there any plans on not strictly requiring `npm`? Wanted to add some enhancements to cerebro, but `yarn install` fails with `AssertionError: Current node version is not supported for development` because (what I assume) NPM is required.

Would be cool to have the option to use the preferred package manager.

[2017-01-30 20:19] mckennajones opened #58 "Unable to run AppImage on Arch Linux"
When running the AppImage on Arch Linux, after making it executable, I get the following error:

`/tmp/.mount_NUsefC/AppRun: line 77: 21426 Aborted                 (core dumped) LD_LIBRARY_PATH="" zenity --question --title="$TITLE" --text="$TEXT" 2> /dev/null`

This is using the latest release, 0.2.3.

[2017-01-30 21:16] KELiON commented on #14
If someone want to try applications on windows there is a [beta build](https://www.dropbox.com/s/wkc1lncjtx00rpy/Cerebro%20Setup%200.2.3.exe?dl=0).

[2017-01-30 21:19] KELiON commented on #14
I've implemented simple search for `.lnk` and `.exe` files in [3 directories](https://github.com/KELiON/cerebro/compare/feature/windows-apps?expand=1#diff-9febaa8a20fe54d121024454fcaf13d9R7).

I found another way to use Power Shell: https://blogs.technet.microsoft.com/heyscriptingguy/2013/11/15/use-powershell-to-find-installed-software/, but it doesn't work for built-in applications, like wordpad

[2017-01-30 21:23] Kageetai commented on #57
Yarn works fine for me. NPM itself is not required (as a package). This really sounds more like your version of Node is not correct or so...

[2017-01-30 21:25] Kageetai commented on #14
@KELiON seems to work for a first version, although no icons are display
![image](https://cloud.githubusercontent.com/assets/1738309/22442251/f5f16850-e73a-11e6-8026-4c60df447857.png)

[2017-01-30 21:28] oskarkrawczyk commented on #57
I'd assume the node version is ok since I have almost the newest. Than again perhaps it doesn't work on the 7.x branch.

If you modify a bunch of scripts in `package.json` and replace with `yarn` all I get is:

[code]

[2017-01-30 22:40] maximbaz commented on #58
Not saying that this shouldn't be investigated, but FYI, I'm running v0.2.3 just fine on my Arch.
All I did was to download the AppImage file and make it executable, like you did.

[2017-01-31 02:00] jjnilton opened #60 "It's not working on Linux VMs (VirtualBox) - shows white frame/square"
It shows a white frame/tile when I open, does not show any UI. The VMs have 3D acceleration enabled, any idea what could be the issue?

![image](https://cloud.githubusercontent.com/assets/228200/22449571/c5fc315c-e73f-11e6-9bf9-ce49d533317e.png)

[2017-01-31 05:26] horusra opened #61 "shortcut to clipboard"
would be great to have a shortcut that instead of opening the link in browser, would just copy the link of it to clipboard (and close app)

for example, search for a gif, imdb movie or anything else, instead of pressing 'Enter' to open in browser, press 'Shift Enter' to copy link to clipboard to immediately share in IM or social media or elsewhere.

[2017-01-31 08:14] rokcarl commented on #61
I would need something similar for math.
Let's say you have a long computation like `2+3` and you see the end result of `5` and I'd like to copy the result to the clipboard so I can paste it into the email / Slack. This is what Alfred app on the Mac does, pretty nifty.

[2017-01-31 08:16] lavir commented on #42
.app works fine.

in dev mode no
in the background process didn't notice any problem (at least in Console) only this
`bindings.js:83 Uncaught Error: Module version mismatch. Expected 50, got 48.`

and in main process
`localhost:3000/dist/main.bundle.js:3100 Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. T

[2017-01-31 08:21] KELiON commented on #14
@Kageetai awesome! I still don't have an idea about getting file icon on windows, but there is another issue for that #16

[2017-01-31 08:24] niittymaa commented on #36
@KELiON I think it's valid way to use color icon if I compare to the others in my tray :)

![trayicons png](https://cloud.githubusercontent.com/assets/4587998/22457253/61c49638-e79f-11e6-8cd8-e9fd6f639621.png)

[2017-01-31 08:49] Kageetai commented on #61
Plugins can define their own actions for keyDown on the result, so for example the gif search just copies the URL of the GIF selected to the URL. So for now it is up to the plugins to decide that. But I guess an additional keyboard shortcut, also shouldn't be too hard :)

[2017-01-31 09:15] KELiON commented on #61
@horusra @rokcarl @Kageetai currently for most results you can use cmd+c to copy something to clipboard (it is movie url for imdb, gif url, math result, path to file).

Only one problem that it works only on mac, because it is hardcoded to cmd+c, but on linux/windows you don't have cmd key:) It is known bug  and will be fixed in next next release for windows and linux

[2017-01-31 09:16] rokcarl commented on #61
Ah yes, this works for _my_ usecase.

[2017-01-31 09:19] KELiON commented on #57
@oskarkrawczyk what OS do you use for development? I had this problem on windows and I had to run `node install.js` from `./node_modules/electron-prebuilt` to fix it, but on linux/mac everything works well

[2017-01-31 09:21] KELiON commented on #36
@niittymaa got it! Thanks:)

[2017-01-31 09:22] KELiON commented on #42
@lavir looks like in your dev environment native modules were built with wrong modules versions. Check item 2 [here](https://github.com/KELiON/cerebro#resolve-common-issues) to fix your problem

[2017-01-31 09:26] KELiON commented on #60
@jjnilton what Linux distribution do you use?

[2017-01-31 09:26] Kageetai commented on #14
Maybe this would help: http://sciencevikinglabs.com/icon-extractor/

[2017-01-31 09:27] KELiON commented on #14
@Kageetai already tried it, but it didn't work for me on windows 10(

[2017-01-31 10:04] lavir commented on #42
Yes, this solved my problem.
Thank you!

[2017-01-31 10:04] #42 closed

[2017-01-31 13:36] jjnilton commented on #60
@KELiON Ubuntu GNOME 16.04 host, tried guests: Xubuntu 16.04, Ubuntu MATE 16.04.

[2017-01-31 13:39] oskarkrawczyk commented on #57
@KELiON I'm on macOS 10.12.4b. I can confirm that running `node install.js` fixed the issue!

[2017-01-31 14:06] davidwood commented on #41
The `machine-id` project is not the correct project. Per the [dependency in package.json](https://github.com/KELiON/cerebro/blob/master/package.json#L199), the project being used is [node-machine-id](https://github.com/automation-stack/node-machine-id).

[2017-01-31 15:05] maximbaz commented on #60
I've had that once too, killing all the `cerebro` processes helped (just make sure to kill _all of them_, there are many).

[2017-01-31 15:07] jjnilton commented on #60
I tried to `killall cerebro` multiple times, but every time I run, it runs like this. Did you do it in a VM?

[2017-01-31 15:14] maximbaz commented on #60
No, not on VM.

Hm, I've just ran `killall cerebro` two times (apparently the first run doesn't kill all the processes :confused:), then started the app and I saw a white screen.

Two times `killall cerebro` again, and on the next run it's all good... weird.

[2017-01-31 17:07] KELiON commented on #41
@davidwood ouch, sorry, too much similar npm packages

[2017-01-31 18:34] KELiON commented on #15
Test build in #62. @hotice @vessd @evsign  would be cool if you can check it

[2017-01-31 18:34] KELiON commented on #14
Another test build with some improvements in #62

[2017-01-31 22:21] maximbaz commented on #57
By the way, what is the purpose behind limiting to nodejs v6?

I've changed the `package.json` to have `"node": "7.x",` (because I have node v7) and it seems to be running just fine.

[2017-02-01 01:41] horusra opened #63 "service provider choice"
Please add option to replace google with Qwant, DuckDuckGo, and WolframAlpha

[2017-02-01 01:42] horusra opened #64 "translation options"
please include settings to change translator service to other popular online translators. Yandex is very limited in language support. (very few languages)

[2017-02-01 07:04] vandamm opened #65 "App search by abbreviation not working"
Cerebro should be able to search for applications using first letters (ie searching for lol should yield League of Legends). Spotlight does this.

![screen shot 2017-02-01 at 09 33 52](https://cloud.githubusercontent.com/assets/576786/22497902/d1200b68-e865-11e6-85a1-ed8aee1449f1.png)
![screen shot 2017-02-01 at 09 33 45](https://cloud.githubusercontent.com/assets/576786/22497261/6f27c76a-e861-11e

[2017-02-01 08:18] KELiON commented on #57
@maximbaz actually it can be used with node 7 if you run `npm run rebuild` from `./app` directory to rebuild native-extensions. Otherwise, native extensions are built for node 7, not node 6, that is used by electron

[2017-02-01 08:21] KELiON commented on #65
@vandamm wow, never knew that. It worth to be added!

[2017-02-01 08:22] KELiON commented on #64
@horusra do you have a list of languages that you need?

[2017-02-01 08:35] maximbaz commented on #57
Cool, in that case perhaps you should consider to loosen this node/npm version restriction, allow node 6+ to be used, just add the `cd app && npm run rebuild` to the `Install` section of your readme.

Personally this restriction (node == v6) is what held me back from setting up development environment, I have node v7 and I didn't want to spend time looking for a way to get node v6 on my machine. B

[2017-02-01 09:45] maximbaz commented on #65
I wonder if we could use [fzf](https://github.com/junegunn/fzf) to do a fuzzy search on everything, imagine how cool that would be!

[2017-02-01 12:07] hotice commented on #15
It works for me, but there are no application icons (but I assume that's intended for now). Would it be possible to also search in the "Keywords" field in the .desktop files, and not just the "Name" field?

[2017-02-01 12:55] horusra commented on #64
I mostly need Dutch, and Persian

[2017-02-01 13:49] KELiON commented on #15
@hotice do you think it makes sense? I thought about it, but I'm afraid it can generate a noise. Do you have an example or what you search and expect to see, but don't get?

[2017-02-01 14:10] hotice commented on #15
That's how for example Unity Dash (the menu in Ubuntu with Unity) or the GNOME Shell Application search works. For example, the default GNOME text editor used to be called "Gedit", so without keywords, one might not have easily found it if it didn't know what it does (that's not the case for this application any more, as it's desktop file now uses "Text Editor" for its name).

Indeed, it might cau

[2017-02-01 14:22] KELiON commented on #15
@hotice thanks for so detailed explanation! Looks reasonable, but for now I didn't find a way to get most used applications on linux and windows, so applications search result just sorted by name if it matches search.

So, I'd leave it as I have now and add keywords search later, when we find a way to get most used applications

[2017-02-01 15:18] maximbaz commented on #58
I've created AUR packages [cerebro](https://aur.archlinux.org/packages/cerebro) and [cerebro-git](https://aur.archlinux.org/packages/cerebro-git), that allow making a native build instead of using AppImage.

@mckennajones, @julianorafael try them out of you are interested.

[2017-02-01 15:26] KELiON commented on #58
hey @maximbaz! I'm not good in linux apps distribution, so can you please explain a bit what is AUR package? Does it make sense to automate this process for each release?

[2017-02-01 15:45] maximbaz commented on #58
AUR is a community-driven repository for people using Arch-based distros.

The first script I created downloads *.tar.gz file from the Github releases page (the other one just clones `master` branch), then they install all necessary dependencies like `npm`, run all build commands like `npm install`, create binaries specific to the user's CPU architecture, place them in correct locations, create sy

[2017-02-01 17:00] codingmatty opened #68 "Link within preview uses same window to open url"
I was looking at the details of a plugin and clicked on a link within those details and it took over the entire app, making it into a single use browser window (with no navigation). The only way to get back to being able to type in the search bar again is to close the app and reopen it..

I think links within the preview should automatically open in the users default browser so that this doesn't h

[2017-02-01 18:24] KELiON commented on #57
Ok, fixed in #67

[2017-02-01 18:24] #57 closed

[2017-02-01 18:47] mckennajones commented on #58
@maximbaz Thanks so much. It works like a charm. I even learned a little bit about AUR packages from your previous post. Cheers!

[2017-02-01 21:28] KELiON commented on #18
We are good for now, but you are always welcome with your design ideas!

[2017-02-01 21:28] #18 closed

[2017-02-01 21:29] KELiON commented on #38
Reopened in [cerebro-shell](https://github.com/KELiON/cerebro-shell/issues/3) repository

[2017-02-01 21:29] #38 closed

[2017-02-01 21:31] KELiON commented on #39
I've tried to reproduce it several times but looks like it works well. Let's wait some time, maybe someone will have the same issue

[2017-02-01 23:25] maximbaz commented on #17
I investigated this a bit, the algorithm looks like this:

1. Determine the file's MIME type.

Found a simple way [here](http://unix.stackexchange.com/a/200666):
Execute in shell: `gvfs-info -a standard::icon /full/path/to/file.txt`
Output:

[code]

The last line defines matching MIME types, in the order of priority.

2. Find an icon for the corresponding MIME type.

The search would be `/usr/shar

[2017-02-02 04:13] CrashyBang commented on #15
@KELiON when will the next release containing these updates be (roughly) :).

Cheers.

[2017-02-02 09:12] maximbaz commented on #17
We could also use this algorithm to show default application icons, in case we didn't find any icon for the application itself. Default icon is better than no icon.

[2017-02-02 19:21] Aminadav opened #77 "I have installed it from the releases page"
And I don't see any plugin except `translate` and `calc`.

For example, I don't see the ip plugin

![image](https://cloud.githubusercontent.com/assets/3584317/22564500/70b7dbf6-e98d-11e6-9722-551ee6c9dc8c.png)

And `gif` plugin.

![image](https://cloud.githubusercontent.com/assets/3584317/22564522/7d8d2fde-e98d-11e6-85bf-a798fac2566c.png)

Do I need to install anything?

[2017-02-02 19:24] maximbaz commented on #77
Type `plugins` :wink:

[2017-02-02 19:31] Aminadav commented on #77
Thanks.

[2017-02-02 19:31] #77 closed

[2017-02-02 21:48] codingmatty opened #79 "npms.io doesn't update very frequently"
I was wondering if there was a way to use npm API directly vs npms.io.

Every time I create/update a plugin, it takes a long time for npms.io to figure it out..

At the time of this writing, npms.io has not yet figured out that this repo has been published: https://www.npmjs.com/package/cerebro-osx-eject
And this one is on v1.0.1: https://www.npmjs.com/package/cerebro-hash

[2017-02-03 10:13] KELiON commented on #79
@codingmatty I didn't find a way to search in npm API directly (by label `cerebro-plugin`). If we find a way to do it – we can use it

[2017-02-03 12:36] alexhx5 opened #81 "Drop shadow and background blur"
### Drop shadow
Is it possible to add a bigger and darker drop shadow for cerebro? Default shadows are almost invisible and it's hard to distinguish cerebro search bar from other windows

![x1](https://cloud.githubusercontent.com/assets/13764106/22590423/2829dcf2-ea20-11e6-84a6-77414a5a5e42.gif)

### Background blur
Have you considered a background blur? It helps to focus on the search bar even mo

[2017-02-03 12:49] maximbaz commented on #81
Blur is probably an overkill, but definitely a +1 from me for a shadow.

Personally I don't struggle with it that much because my composition manager that I use in Linux fades everything in background when Cerebro opens, it has effect similar to the blur, but not as drastic.

[2017-02-03 12:53] KELiON commented on #81
@AlexAlabyev @maximbaz AFAIK electron [supports](https://github.com/electron/electron/blob/master/docs/api/browser-window.md#new-browserwindowoptions) window show on macOS:

But as I see shadow is possible: we can do a theme with transparent window, and just add css `box-shadow` for main element.

Current I didn't implement good API for external themes, but we started conversation in #66. So, I'm

[2017-02-03 13:16] AlexAlabyev commented on #81
@maximbaz I agree, blur is very subjective and not everyone likes it. It would be nice to have it as an option in settings, maybe.

@KELiON external themes would be nice, but do you think we could add a basic default theme with a good looking `box-shadow` for windows/ linux in the next build? As you can see it on the first screenshot, without shadow it looks rather unpleasant

[2017-02-03 13:34] maximbaz commented on #81
Just a fair warning, you _might_ get a push-back from Linux users. Some people are used to control how their window looks via composition managers, so that the styles are identical for all apps.

For example, I enabled background fading and shadows, and it looks like this:

![www gifcreator me_r5yib2](https://cloud.githubusercontent.com/assets/1177900/22593120/5dc9b056-ea1d-11e6-9fbd-a59b3e3f28d4.

[2017-02-03 13:42] AlexAlabyev commented on #81
@maximbaz right, thanks, that's a fair concern. It's basically just a problem with Windows then.

[2017-02-03 15:33] codingmatty commented on #79
Yea, after posting this I went to look for an npm API and just found this repo where they are talking about working on the public API, but it's not ready yet..  https://github.com/npm/public-api
So, I just took to twitter and got them to update those repos on npms.io ;p
They said it should only take 5 mins or so, and the bug I noticed should be fixed as of the next release, so I will close this is

[2017-02-03 15:33] #79 closed

[2017-02-03 16:13] #64 closed

[2017-02-03 16:35] #33 closed

[2017-02-03 18:06] AlexAlabyev commented on #81
@KELiON and @maximbaz I've created the `box-shadow` example. What do you think of that?
Is it going to be as easy as:
- make background `transparent` and
- add `box-shadow`?

 or it's more difficult then that and it will not make it in the next build?

### Link to [jsfiddle](https://jsfiddle.net/5uz8qqbe/)
![x45](https://cloud.githubusercontent.com/assets/13764106/22602127/00227e5c-ea53-11e6-8d92-

[2017-02-03 21:13] maximbaz commented on #81
I've just played with this a bit, but I couldn't achieve transparency for the main window. Not sure if this is a lack of support for Linux or I'm just doing something wrong.

![selection_293](https://cloud.githubusercontent.com/assets/1177900/22608462/41c675ca-ea5d-11e6-9e80-95248daf4914.png)

Tried to google it a bit, found an old [pull request](https://github.com/electron/electron/pull/949) for

[2017-02-03 22:20] AlexAlabyev commented on #81
@maximbaz  have you tried adding `transparent `and `frame `properties when creating window, like that:
[code]

According to this [article](http://ourcodeworld.com/articles/read/315/how-to-create-a-transparent-window-with-electron-framework), there are some limitations (can't click through the transparent area, and other issues):
As it says there, for linux you should add `--enable-transparent-visu

[2017-02-03 23:04] maximbaz commented on #81
Tried now, the `transparent` flag causes some totally weird artifacts. The `--enable-transparent-visuals --disable-gpu` don't seem to make any difference, though I'm on Intel graphics, not NVidia.

How does it look for you on Windows? Do you have the dev environment configured, to try?

[code]

I'll also watch #66 to see if attempts to implement transparency appear, and how it will work on differe

[2017-02-03 23:18] AlexAlabyev commented on #81
@maximbaz at the moment I don't have the dev environment configured. I just added those parameters to files. Is there a quick way to run it and see if it works?

[2017-02-03 23:23] maximbaz commented on #81
You can play with CSS (type `settings`, enable `Developer Mode`, in the tray `Development > DevTools (main)` > select `html` element and play with its styles), but there's no easy way to change javascript on the fly.

[2017-02-04 08:01] grundiss opened #84 "How to become a plugin contributor?"
Hi!
Let's say I've developed an incredibly useful plugin for Cerebro (https://github.com/grundiss/cerebro-pluggin-shruggie).
How do I make it searchable/installable for people via `plugins` Cerebro command?

[2017-02-04 08:02] #84 closed

[2017-02-04 08:03] grundiss commented on #84
My bad, found in docs

[2017-02-04 13:16] edlefebvre opened #86 "Not working because of a missing /var/lib/dbus/machine-id on fedora 25"
Cerebro is not working on fedora 25 out of the box. It seems that the file `/var/lib/dbus/machine-id` is needed but not found.

If you do a `ln -s /etc/machine-id /var/lib/dbus/machine-id` Cerebro works.

[2017-02-04 13:55] KELiON commented on #86
Hey, @edlefebvre! Is known issue (#41) and already fixed, but I didn't release this fix yet. If you want you can use one these test builds:

https://www.dropbox.com/s/wkc1lncjtx00rpy/Cerebro%20Setup%200.2.3.exe?dl=0
https://www.dropbox.com/s/7y7hrn0epfjanjm/cerebro_0.2.3_amd64.deb?dl=0
https://www.dropbox.com/s/lu5r4k6b18xwzev/cerebro-0.2.3-x86_64.AppImage?dl=0
https://www.dropbox.com/s/vslg5zsl7r

[2017-02-04 13:55] #86 closed

[2017-02-04 21:44] #35 closed

[2017-02-05 10:14] BurningTreeC commented on #50
how about the option to simply define your search engine by url?

[2017-02-06 10:34] #68 closed

[2017-02-06 10:34] #65 closed

[2017-02-06 10:34] #61 closed

[2017-02-06 10:34] #52 closed

[2017-02-06 10:35] #44 closed

[2017-02-06 10:36] #41 closed

[2017-02-06 10:36] #37 closed

[2017-02-06 10:37] #36 closed

[2017-02-06 10:37] KELiON commented on #15
@CrashyBang just released

[2017-02-06 10:37] #15 closed

[2017-02-06 10:38] #14 closed

[2017-02-06 11:22] AlexAlabyev opened #88 "Minimum word length to search (windows | v0.2.4)"
At the moment (on windows | v0.2.4), search results are shown after 1 character typed in, which shows so much unrelated noise:

![screenshot 722](https://cloud.githubusercontent.com/assets/13764106/22645090/56b8abe0-ec76-11e6-9e88-048416267bca.png)

Do you think it should show the result only when 3 or more characters typed in? (that would remove most of the noise)
It's like in the Atom's code edi

[2017-02-06 11:45] AlexAlabyev opened #89 "Problem with app launch (windows | v0.2.4)"
When you type in a search word and the name of the program shows up, you hit enter and nothing happens, it just goes back to the search bar view. (the same thing if you just click on the result with mouse). Is that a bug?

![2](https://cloud.githubusercontent.com/assets/13764106/22646114/b6942fbc-ec7b-11e6-94db-c04a9646393c.gif)

[2017-02-06 11:52] BrainMaestro commented on #10
These errors are actually preventing my plugin from working. They occur everytime I try to use an external component for `getPreview` for the display function. What exactly is causing them, and how do I get around it? It doesn't have any issues if I use an inline element.

[2017-02-06 11:54] KELiON commented on #10
@BrainMaestro can you share your code example?

[2017-02-06 12:05] AlexAlabyev opened #90 "A Javascript error (windows | v0.2.4)"
I got a javascript error 2 times in the last 15 minutes. Not sure what's causing the exception, but it happens when you open the search bar `ctrl + spacebar`

![c2](https://cloud.githubusercontent.com/assets/13764106/22646425/73b5bed4-ec7d-11e6-9a29-55685639e1c0.png)

and after a few minutes it follows up with like 7 or 8 similar error messages, trying to call something else in the background:

![

[2017-02-06 12:15] BrainMaestro commented on #10
[getPreview Issue](https://github.com/BrainMaestro/cerebro-stackoverflow/tree/show-preview-issue)

It works normally on the master branch. Thanks for checking

[2017-02-06 12:17] KELiON commented on #90
@AlexAlabyev do you run .exe file or you run development environment by?

[2017-02-06 12:24] AlexAlabyev commented on #90
@KELiON I run .exe (with developer mode checked in the settings). I just turned the developer mode off to see if it prevents the error.

[2017-02-06 12:26] KELiON commented on #89
Yes, it is a bug, thanks for report!

Fix is here: https://github.com/KELiON/cerebro/releases/tag/0.2.5

[2017-02-06 12:38] maximbaz opened #91 "feat: order results by most selected"
I'd like Cerebro to remember which apps I open most often. It doesn't have to rely on OS to provide this knowledge, we could gather this information by ourselves.

A simple idea: extend `apps_cache.json` with a counter of how many times this app was opened via Cerebro. Then use this counter to sort the list of results (items with higher counter go up, items with identical counter are sorted alphab

[2017-02-06 12:39] maximbaz commented on #88
Alternative suggestion: #91.

If that is implemented, you would usually type 1-2 characters to start a favorite app.

[2017-02-06 12:41] AlexAlabyev commented on #89
@KELiON I updated it to 0.2.5, unfortunately it still doesn't work. Clean reinstall didn't help either. Not sure what is the problem.

[2017-02-06 12:52] maximbaz commented on #58
I've scripted the upgrade procedure for the AUR package, it now requires running one command `./upgrade.sh 0.2.4` to push the update.

@KELiON if you ever have an environment where you automatically build and deploy new releases, just ping me, I'll give you access and everything so that you can run this command there as well.

For now, anyone can use [this link](https://aur.archlinux.org/pkgbase/c

[2017-02-06 13:09] AlexAlabyev commented on #91
@maximbaz that's a good idea you're proposing. It might reduce the amount of character you have to type in before you get what you need.

[2017-02-06 13:16] AlexAlabyev commented on #90
@KELiON So far, I didn't encounter the error, after I turned the developer mode off in settings.

[2017-02-06 13:27] maximbaz commented on #90
This issue appears when we call `toggleWindow` on the window object, that has been destroyed, not hidden.

One way to repro it: open Cerebro with a shortcut, close the window with Alt+F4, open Cerebro with a shortcut again.

I didn't investigate what happens to the `mainWindow` variable in this case, but if it has some kind of a state `DESTROYED` or anything like that, we could handle that in `sho

[2017-02-06 13:31] maximbaz opened #92 "Closing window with Escape doesn't persist the results"
Open Cerebro, type "Settings".
Uncheck `Clean results on hide`.
Hit the hotkey to close the window.
Hit the hotkey to open the window, the results are preserved.
Hit Escape to close the window.
Hit the hotkey to open the window, the results are not preserved, but should.

[2017-02-06 13:37] AlexAlabyev commented on #90
It turns out, the error shows up even when the developer mode OFF. Just got the error after clean reinstall and after a few minutes got the same error.

[2017-02-06 13:57] KELiON commented on #92
@maximbaz I don't think that results should be there when you use esc. For me it is like cancel/reset action, not just hide the window

[2017-02-06 13:59] KELiON commented on #89
@AlexAlabyev can you check that it doesn't work for all applications? Or only for some of them?

[2017-02-06 14:07] AlexAlabyev commented on #89
@KELiON I just checked about 20 programs. None of them are getting opened. I tried to run cerebro with admin rights, didn't help. It just shows you cerebro search bar view (as it shown on the gif) after you hit enter, trying to open the program

[2017-02-06 14:13] maximbaz commented on #92
Do you use both hotkey and Escape to close window depending on whether you want to preserve the current search result or you want to clear it?

I always treated Escape as "hide", that's why it was surprising for me that even though I unchecked "Clean results on hide", I always get clear window. Then almost by accident I discovered that if I use hotkey to hide Cerebro (not Escape), then results are

[2017-02-06 15:01] TheRndCoder commented on #90
![image](https://cloud.githubusercontent.com/assets/25141697/22652022/7099e05a-ec4a-11e6-9d01-768757594870.png)

This is the message I'm getting on Cerebro v 0.2.5, I tried what @maximbaz suggested to repro and the app stopped showing the error message, more like a one time thing

[2017-02-06 15:04] hotice opened #93 "Most plugins don't show results on Linux"
Most plugins don't seem to return any results on Linux and instead, you can only search the web. For example, entering "gif testing" as displayed on the gif plugin page, doesn't display any gif, but only this:

![image](https://cloud.githubusercontent.com/assets/325449/22652026/819cf9d0-ec8d-11e6-9e18-a27ea7110dbb.png)

The same occurs with:

- the file system navigation plugin
- Emoj
- IMDB
- Can

[2017-02-06 16:05] KELiON commented on #89
Looks like the wrong file was uploaded in release 0.2.5. I've updated .exe installer there, can you try to re-install it one more time?

[2017-02-06 16:08] KELiON commented on #93
@hotice can you turn on developer mode from preferences, open dev. tools from tray menu → development → dev. tools (main), reload application by tray menu → development → reload and send me the output from console tab of dev. tools?

[2017-02-06 16:16] AlexAlabyev commented on #89
@KELiON I just downloaded the new .exe file and re-installed it. Now everything works! Thank you

![3](https://cloud.githubusercontent.com/assets/13764106/22655273/b802e80a-eca0-11e6-82e6-bdd1f92e5d15.gif)

[2017-02-06 16:20] KELiON commented on #92
@maximbaz I do! And for me, it is expected that <kbd>esc</kbd> clears input, but if I need I can just move focus another window or use hotkey to preserve result, i.e. when I want to copy something from preview to another app.

I just checked how it works in mac's Spotlight: they reset input by <kbd>esc</kbd> and hide window when you use <kbd>esc</kbd> with empty input.

[2017-02-06 16:20] #89 closed

[2017-02-06 16:39] maximbaz commented on #92
In this case I'm clearly outnumbered 😃

It's not a big deal for me, there is <kbd>⬆</kbd> arrow that I could use to bring the last result back, I'm just going to use it then. You can close this issue if you want.

Speaking of other launchers, I believe your judgement, I have a limited experience of how it is done elsewhere (I only used one other launcher, `albert`, which treats <kbd>esc</kbd> like

[2017-02-06 17:27] hotice commented on #93
Sure, here's the log (logged when attempting to search for a gif):

[code]

[2017-02-06 17:44] KELiON commented on #93
@hotice looks like gif plugin is not installed. When it is installed you should see this:

![image](https://cloud.githubusercontent.com/assets/594298/22658903/02fb5fd6-ec9c-11e6-89b6-7f935e6a6fb7.png)

Can you check what do you see when you type `plugins gif`?

[2017-02-06 19:15] AlexAlabyev opened #95 "Memory leak and high CPU usage (windows)"
I noticed cerebro using up 560mb of RAM (maybe more, I killed the process) and 0 - 30% of CPU, just by sitting in the background.

 It's not always like that. Normally it will go up to 230mb right after the start and then after a few seconds it goes back to 4 processes 50mb in total and 0% CPU usage.

But I looked up running processes and for the second time today I noticed these high numbers. The

[2017-02-06 19:34] #90 closed

[2017-02-06 20:17] chopfitzroy opened #96 "No desktop entries on Ubuntu 16.04"
Hey just tried installing the new build on my work PC running Ubuntu 16.04, first tried the `.deb` installer which only rendered a white box when toggling which would not recieve any input.

Next up I tried the `AppImage` which did render a usable input but when searching no desktop entries were found.

Please let me know what information I can provide to help debug.

Cheers.

[2017-02-06 21:37] Djaler opened #97 "Icon theme"
It would be very cool if on Linux cerebro will use app icons from active theme, not default.

[2017-02-06 22:19] KELiON commented on #96
@CrashyBang hey! Can you try to turn on developer mode in preferences and after that run tray menu → development → DevTools (background), reload app (tray menu → development → reload) and check if you have any errors in console?

[2017-02-06 22:20] KELiON commented on #95
@AlexAlabyev no, it can't be this problem. Loos like it is something related to windows only, I'll try to find the reason

[2017-02-06 23:03] codingmatty opened #98 "Need help with installing plugin"
I created `cerebro-osx-eject`, but when I try to install it the regular way, it gets stuck after downloading the `tgz` file. I can manually uncompress that file and mv the contents to the `node_modules` folder (as well as add the dependency to the `package.json` file), reload Cerebro, and everything works as expected. But I can't figure out why the Cerebro app can't install the plugin itself..
Eve

[2017-02-07 02:52] codingmatty opened #99 "Suggestion: selectively show preview"
Basically, not every plugin display item needs the preview, so my suggestion would be to hide the preview window until the user scrolls through the selections, and when the selected item has a `getPreview` function that returns something other than `null`, then expand the preview into view.

I was playing around with implementing this, there were just a lot of layers (i.e. lots of things have `max

[2017-02-07 05:24] codingmatty commented on #98
Same thing just happened with `cerebro-lipsum` plugin. :(

[2017-02-07 05:27] tnguyen14 commented on #63
duplicate of #32?

[2017-02-07 07:37] CrashyBang commented on #96
Hey @KELiON just tried it at home and it is working fine so will have to try the above at work tomorrow.

Cheers.

[2017-02-07 07:39] CrashyBang opened #100 "Can"

[2017-02-07 09:11] BrainMaestro opened #101 "Module version mismatch. Expected 50, got 48."
I pulled in the new updates on the cerebro app, and now I get that error while trying to run the plugin I'm developing. Not sure what the issue is this time. I mentioned I was having a separate issue yesterday. Cerebro plugin development is a little frustrating right now. Should I hold off until things are more stable?

[2017-02-07 09:14] hotice commented on #93
Well I suck, I thought they are installed by default and I was not familiar with how to check that. So that's it. Sorry for wasting your time, closing this.

[2017-02-07 09:14] #93 closed

[2017-02-07 09:42] KELiON commented on #93
@hotice you're not alone so it is my fault that a lot of people can't find them ;)

[2017-02-07 09:44] KELiON commented on #101
@BrainMaestro hey! Did you try [that](https://github.com/KELiON/cerebro#resolve-common-issues)?

[2017-02-07 09:47] KELiON commented on #98
@codingmatty I have the same problem. Looks like it is some problem with tar.gz package on [this line](https://github.com/KELiON/cerebro/blob/master/app/lib/plugins/npm.js#L50). I'll try to investigate why it happens (and why it happens only with some plugins)

[2017-02-07 09:50] KELiON commented on #100
@CrashyBang there are few limitations now. First, hotkey that you try to bind should not be used by other applications (i.e. on MacOS you have to unbind Spotlight if you want to set Cerebro to the same key). Another is that hotkey should contain at least one of <kbd>alt</kbd>, <kbd>ctrl</kbd> or <kbd>cmd</kbd> (on mac) keys.

Can you confirm that it still doesn't work?

[2017-02-07 09:52] KELiON commented on #99
@codingmatty sound good for me, we can try to play with it!

[2017-02-07 10:07] KELiON opened #102 "Add default language to settings"
Translate plugin uses default system language as default target. We should add a language dropdown in settings to allow changing this language.

[2017-02-07 10:35] Kageetai commented on #102
Wonderful idea :)
The default target language is for me always russian btw. Seems like it does not use the system language...

[2017-02-07 11:49] BrainMaestro commented on #101
That works. Thanks! Sorry I overlooked it.

[2017-02-07 11:49] #101 closed

[2017-02-07 11:57] KELiON commented on #98
Looks like it is [known issue](https://github.com/alanhoff/node-tar.gz/issues/38) of tar.gz package. I've downgraded it to 1.0.2 and now it works

[2017-02-07 12:04] KELiON commented on #98
Ok, after downgrading to tar.gz@1.0.2 it works

[2017-02-07 12:04] #98 closed

[2017-02-07 15:32] codingmatty commented on #100
I am having trouble with this as well. I am trying to change the key binding to <kbd>⌘</kbd> + <kbd>;</kbd>, and can't find any global bindings that match, but Cerebro won't let me use those keys.

[2017-02-07 23:11] maximbaz commented on #102
@Kageetai it's a bug, the workaround is to open Cerebro config file (`~/.config/Cerebro/config.json` on linux) and set `lang` property to the desired default language, then it will work. Whatever you change with `Cerebro Settings` only affects `country`, but not `lang`.

[2017-02-07 23:50] Kageetai commented on #102
@maximbaz I did not know about this settings file and just tried it on my windows, but it was already set to en ´en´ but still translates to russian on default. I will check on my work Mac tomorrow...

[2017-02-07 23:59] maximbaz commented on #102
Okay, are you trying to translate _from_ english, and russian kicks in as a target language by default? If so, that is a bit different issue, explained in #5.

As of today, this `lang` setting only matters if you are translating _from another language_, so if you type "привет", the default language (which is english in your case) will be used as the target language.

This is how I understand it, a

[2017-02-08 10:04] Kageetai commented on #102
Hmm okay, understood, but how do I translate something to English? For example I am trying to translate something from Spanish, because I am currently learning it, and therefore type for example `novia in en` but that just shows me the English -> English

<img width="666" alt="screen shot 2017-02-08 at 11 03 41" src="https://cloud.githubusercontent.com/assets/1738309/22732395/506ae914-edee-11e6-96

[2017-02-08 10:15] maximbaz commented on #102
This is yet another issue in my mind, it's a problem of the service that is trying to guess the "source" language, and there is no way to enforce source language, so far as I can tell, maybe @KELiON can correct me.

[2017-02-08 10:31] KELiON commented on #102
@Kageetai you described another problem. API of yandex.translate, that is used for translation, tries to guess source language automatically. Based on this language Cerebro tries to guess, what is target language. Examples:

Source: English
System Language: English
Target: Russian (just because Russian set in code as language with second priority after English)

Source: Spanish
System Language: En

[2017-02-08 10:36] maximbaz commented on #102
Just like cerebro parses "in" to get the target language, can it also parse "from" to enforce the source language? `novia in en from spani` should work.

[2017-02-08 10:38] Kageetai commented on #102
@KELiON hmm your last point about just changing the source language works, but I also just noticed a wrong translation from Yandex apparently with that :D
I like @maximbaz 's idea

[2017-02-08 11:27] KELiON commented on #102
+1, I'd add it. I just tried other language detection APIs (https://detectlanguage.com/, https://languagelayer.com/) and they also can't detect them properly in most cases

[2017-02-09 13:17] BrainMaestro opened #106 "Content in preview is cut if it is too long"
I'm developing a plugin. I noticed an issue with the preview where it won't show all the content possible when it gets to a certain length. That is, you won't be able to scroll up to that point. Any idea what's wrong?

Here's a screenshot
<img width="808" alt="screen shot 2017-02-09 at 2 14 40 pm" src="https://cloud.githubusercontent.com/assets/1738373/22784956/7c3daf4c-eed2-11e6-83c3-a616a9f6bf5c

[2017-02-09 14:00] nazar-pc opened #107 "Where is configuration stored?"
I've looked at most common places and didn't find anything:
* ~
* ~/.config
* ~/.local/share
* application directory

So where is it?) I'm on Linux

[2017-02-09 14:07] nazar-pc commented on #107
Sorry, I was running it from sources, packaged version uses `~/.config/Cerebro`

[2017-02-09 14:07] #107 closed

[2017-02-09 16:48] KELiON commented on #106
@BrainMaestro from this screenshot I can't guarantee that I understood an issue, but I think it is related to vertical alignment of the preview. By default it is shown in the middle, but if height is bigger than window height you can't reach top of the preview. Am I correct?

If so you have to add css-rule for your root element: `align-self: flex-start;`, like in [cerebro-imdb](https://github.com/

[2017-02-10 07:38] BrainMaestro commented on #106
Sorry the screenshot didn't show it well but you're right. It happens exactly as you specified. Any idea why that happens? I'm curious.

Anyway, your suggestion works very well. Thanks for being helpful.

[2017-02-10 07:38] #106 closed

[2017-02-10 17:50] AlexAlabyev commented on #95
Just a little update on the issue.

I haven't encounter the problem with high resource usage, since. Not sure what the problem was.

If anybody else will encounter this, please let us know here. Maybe it's not a common problem, and we should close the issue, maybe it just was a one time thing.

[2017-02-10 22:16] KELiON opened #112 "[Discussion] Plugin ideas"
* If you have an idea for plugin – post it here;
* If you are a developer and want to pick an idea and implement it – notice everyone here.

[2017-02-10 22:18] #99 closed

[2017-02-10 22:18] #92 closed

[2017-02-11 09:09] ppvg opened #113 "Can't toggle developer mode with tray icon disabled"
With "show in menu bar" disabled, toggling developer mode throws an uncaught exception:

[code]

[2017-02-11 12:10] KELiON commented on #113
@ppvg yep, easy to reproduce, going to fix it

[2017-02-11 15:20] rxng opened #115 "no file search?"
is this a planned feature or is there a plugin?

[2017-02-11 23:22] KELiON commented on #115
@rxng hey! now there is only file navigation plugin (start input with `/` or `~` to navigate in your file system).

Regarding files search, I'm trying to investigate and find better ways to do it. Can you now describe your certain case? What kind of files do you usually need to find?

[2017-02-11 23:46] #113 closed

[2017-02-11 23:47] KELiON commented on #96
@CrashyBang hey! Did you try it one more time?

[2017-02-11 23:50] KELiON commented on #45
@reflog did you have any success with your plugin? Do you need any help?

[2017-02-11 23:50] #39 closed

[2017-02-12 10:48] reflog commented on #45
Well, I've tried following all the steps in the guide that you've referenced with no luck, same result, cannot find the bindings.
If someone more experienced than me in the world of electron-win32-bindings would like to take a stab at it - that would be awesome, the repo is there and waiting :)

[2017-02-12 12:34] rxng commented on #115
I use spotlight and do not think I could live without it! MacOS has mdfind and locate commands so I think it would not be too difficult to integrate this into Cerebro, as these are the fastest search tools in Mac? Awesome job btw so far, tried both this and zazu and definitely prefer the ease of use of Cerebro.

[2017-02-12 14:30] AriaShishegaran opened #116 "Uncaught Exception Javascript"
When Cerebro is toggled, this error pops up. it's not always but happen so much I need to close the project and reopen it to resolve it, and then it happens again.
![2017-02-12_17-58-44](https://cloud.githubusercontent.com/assets/15879200/22862931/1db9c3b6-f14d-11e6-850d-fbde3bbce5aa.jpg)

[2017-02-12 19:25] KELiON commented on #116
@AriaShishegaran hey! It is already fixed and will be in next release. Currently you can download one of these test builds and let me know if you still have this problem:

https://www.dropbox.com/sh/k9lhrdygc2jucl6/AABvnqJFqmlWXFmaHYJHxDtka?dl=0
https://www.dropbox.com/s/g0sbz96q1nck13s/Cerebro%20Setup%200.2.5.exe?dl=0
https://www.dropbox.com/s/lqfxs7c4rnw3hur/cerebro_0.2.5_amd64.deb?dl=0
https://

[2017-02-12 20:03] KELiON commented on #116
Actually, I decided to release these changes to you can download new version [here](https://github.com/KELiON/cerebro/releases/tag/0.2.6)

[2017-02-12 20:03] #116 closed

[2017-02-12 20:36] nazar-pc opened #117 "Update check on Ubuntu points to Appimage instead of deb file"
I've just checked updates and clicked Download button.
I was directed to download  `cerebro-0.2.6-x86_64.AppImage` file, while expectation is to download `cerebro_0.2.6_amd64.deb` (current version 0.2.5 is installed from deb file).
Is this something that might be improved?

[2017-02-12 21:04] KELiON commented on #117
@nazar-pc thanks for this issue! Actually, it is just leak of knowledge from my side :D

Can you explain what is the difference between `.AppImage` and `.deb`? When I tested the app on Ubuntu 16 I used `.AppImage` and it used to work.

[2017-02-12 21:43] AriaShishegaran commented on #116
Thank you for your fast response.
Cheers

On Sun, Feb 12, 2017 at 11:33 PM Alexandr Subbotin <notifications@github.com>
wrote:

--
Aria Shishegaran
Skype: aria.shishegaran
Phone: +98 937 770 7781

[2017-02-12 21:44] nazar-pc commented on #117
Frankly speaking, I have no idea what `.AppImage` is, never used it:) `.deb` is what standard package manager uses on Debian-based OSs, don't see the point of trying anything else if `.deb` package is available.

[2017-02-12 23:24] thadjbullet commented on #100
Confirm. I have the same issue on Ubuntu 16.10. Cerebro doesn't change the hotkey although it's free.

[2017-02-13 00:02] maximbaz commented on #117
Ubuntu is moving away from `.deb` though, the future standard will be `snap` packages. [Here's why](http://askubuntu.com/a/783981). Internally `.deb` files are still used as I understand, but the end-users will be using `snaps`.

`Snaps / Flatpack / AppImage` are three different formats with a very similar purpose, to improve packaging and distribution of applications. [Differences are listed for

[2017-02-13 01:12] CrashyBang commented on #100
Hey @KELiON how hard would it be to offer a CLI flag to toggle the Cerebro window so that users can setup a gloabl hotkey using there system keybinding tool.

I believe [rofi](https://davedavenport.github.io/rofi/) used to try and provide a keybinding manager to but eventually realised it was easier to let user set up there own system hotkey?

Thoughts?

[2017-02-13 06:19] CrashyBang commented on #96
Hey @KELiON sorry it is on my work PC I will try to get to it tomorrow my apologies.

[2017-02-13 08:03] AlexAlabyev commented on #116
@KELiON thanks for the fix, but just wanted to make sure, is it normal that I can still trigger the uncaught exception by pressing alt+f4 to close the search bar?

Is the fix works only under normal conditions, when you just close the search bar normally with esc button?

![4](https://cloud.githubusercontent.com/assets/13764106/22875285/d7148286-f1db-11e6-8857-10f5cae93e9c.PNG)

[2017-02-13 08:39] KELiON commented on #116
@AlexAlabyev Oh, I see now, it is another, windows-only issue. Will do another fix for that

[2017-02-13 08:53] KELiON commented on #100
@CrashyBang hey! What OS do you use? On Mac and Windows you can use `cerebro://` URL protocol to open window. For example on Mac OS run in terminal `cerebro://search?term=hello` to open Cerebro window with `hello` query

[2017-02-13 09:03] KELiON commented on #117
@maximbaz so, `snap` is now supported only by Ubuntu, not by other distributions, isn't it? Does it make sense now to add `snap` as another option for Cerebro releases? electron-builder already [supports](https://github.com/electron-userland/electron-builder/wiki/Options#snap-snap-specific-options) it.

@nazar-pc what do you think about it after @maximbaz comment? Is it ok to use `.AppImage` as de

[2017-02-13 09:53] nazar-pc commented on #117
I'll use `.deb` for now, all of my packages are in this format, nor going to change anything just for one app.

Snap is kind of interesting and supported not only in Ubuntu, but it is centralized, which is why many people leaning towards Flatpack, which has better cross-distro support and comparable features to Snap, while not being so centralized.

[2017-02-13 10:00] maximbaz commented on #117
`snaps` are also supported other distros, I think devs want them to be as universal as `AppImage`. However this particular format is built by Ubuntu folks, and so they naturally target Ubuntu first. In reality I haven't heard anyone outside of Ubuntu using snaps (yet?).

I'd say ideally you should provide all 4, `Snaps / Flatpack / AppImage / deb`, plus sources. With these four you would literally

[2017-02-13 11:33] AlexAlabyev opened #118 "[Discussion] Performance issues on MacOS/Windows/Linux"
let's discuss all the performance issues here, such as:
- Glitches and freezes
- High RAM and CPU usage

and other similar issues

[2017-02-13 11:36] AlexAlabyev commented on #118
Should Cerebro use the electron's latest release **electron v1.6.0 beta**, referring to the issue [https://github.com/KELiON/cerebro/issues/95](https://github.com/KELiON/cerebro/issues/95)?

It uses the new version of chrome with memory optimizations, according to this page [https://github.com/electron/electron/releases/tag/v1.6.0](https://github.com/electron/electron/releases/tag/v1.6.0)

Sometim

[2017-02-13 14:32] KELiON commented on #118
@AlexAlabyev I would wait for production release of electron.

And I don't think the issue is just in electron. I didn't have time to check, but I suspect it is something in `basic-apps` (applications plugin for both Linux and Windows), because I've never seen Cerebro using more than 200mb on MacOS

[2017-02-13 14:45] AlexAlabyev commented on #118
@KELiON okay, so we know that it only happens on windows, so far. @maximbaz have you ever encountered these kind of peaks of RAM and CPU usage on Linux?

[2017-02-13 20:05] CrashyBang commented on #100
I am curretly using the AppImage on Ubuntu 16.10 any ideas on how I would get that working?

[2017-02-13 20:16] KELiON commented on #100
@CrashyBang on Linux it could be tricky, but I'll try to find a way and reach you back

[2017-02-13 20:31] maximbaz commented on #118
Well it's definitely taking more than 200mb on Linux, most certainly due to the `basic-apps` as you will see below, but I haven't observed any unusual spikes yet. I'll try to pay attention over the next few days.

I usually see 4 or 5 Cerebro processes, this is the app after maybe a day of normal usage (367mb).
![snapshot](https://cloud.githubusercontent.com/assets/1177900/22900206/c868bfa2-f22d-1

[2017-02-13 21:00] AlexAlabyev commented on #118
@maximbaz well, that's interesting. Do you know an effective way of purging the memory after each search?
I wish I knew what is causing the random huge spikes when I'm not using it and it sits in the background, as well. I thought it was some silent exception that would look for something once in a while and then when it fails to do something, it goes into a loop and eventually take up some much m

[2017-02-13 21:42] maximbaz commented on #118
Speaking of gif plugin, I think the memory leak could be in the [`memoized` function](https://github.com/KELiON/cerebro-gif/blob/master/src/index.js#L30), where the results once loaded are cached... well, forever. I'll leave that to @KELiON to confirm, if true the fix would be to invalidate cache once user is typing a new query (to load a different pack of gifs) or when user is clearing the search

[2017-02-13 21:42] CrashyBang commented on #100
Hey @KELiON no stress just trying to think of alternatives that may make things a bit easier :)

[2017-02-14 06:38] chesterhow opened #119 "Launch Cerebro on system startup"
I'm currently using Cerebro on my Windows machine and I'm kinda surprised why it hasn't been suggested yet, but perhaps there should be an option to automatically launch Cerebro on system startup.

Or has it already been implemented and mine's just bugging out? If it's not yet implemented then I think this would definitely be really useful to have.

Great app btw! Been searching for an Alfred alte

[2017-02-14 07:41] KELiON commented on #119
@chesterhow glad that you like it! I also had this idea and plan to include it to the next release

[2017-02-14 07:55] KELiON commented on #118
@maximbaz just noticed memory usage of gif plugin. I've checked and the reason not in memoize function, it works only with API jsons, and their size usually ~10-13kb.

Reason in browser caching for gifs. Giphy server adds `Cache-Control:max-age=86400` header, so all gifs are cached for 24 hours. I'll try to find a way to override browser caching, it doesn't make sense to store all gifs for so long

[2017-02-14 09:26] chesterhow commented on #119
Awesome! I'll look out for the next update and in the meantime close this issue.

[2017-02-14 09:26] #119 closed

[2017-02-14 15:39] valdotdev opened #120 "Support text highlighting/selection in textfield via trackpad clicks and gestures (macOS)"
Whenever I want to select a portion of a text I wrote on the text/input field via click+drag or gesture (3 finger selection), it keeps dragging the main windows rather than selecting the text. Double-clicking to select a whole word or using Shift+Arrow keys to works fine.

[2017-02-14 16:03] maximbaz commented on #112
**Idea:** Getting current local time, date and timezone by searching `time in madrid`. Google's output:

[code]

[2017-02-14 22:31] KELiON commented on #112
@maximbaz btw, I've already started to work on that:

![screen shot 2017-02-14 at 23 27 39](https://cloud.githubusercontent.com/assets/594298/22952432/4dca5d74-f30d-11e6-9369-4cbbc30805d6.png)

I'll publish it soon. I think after some polishing it will be enough for first version, later I wanted to show in preview something like [worldtimebuddy](http://www.worldtimebuddy.com/) do

<img width="1092

[2017-02-14 22:51] maximbaz commented on #112
That is so cool! I'd like to suggest to write the time directly in the search box, just like the convertor plugin does, in gray text. That way I get the most important information without even moving my eyes from the search box. Something like that, what do you think?

![image](https://cloud.githubusercontent.com/assets/1177900/22953201/7d000cb2-f310-11e6-8a32-89eed21838d5.png)

[2017-02-15 10:41] KELiON commented on #112
@maximbaz first version is timezones is [here](https://github.com/kelion/cerebro-timezones), any ideas improvements are welcome)

[2017-02-15 18:41] maximbaz commented on #112
I love it :heart: 🕗

A small idea: what do you think about treating `time` and/or `time now` in a special way, and showing the time in the current location? Or there is no reliable way to tell the current location?

Now when I type `time now`, I see Toronto time :)

[2017-02-15 18:45] KELiON commented on #112
@maximbaz why do you use Cerebro to see current time, not just OS clock?

[2017-02-15 18:50] maximbaz commented on #112
I was testing the plugin by entering different values, one of the values was "now" and I was surprised to see Toronto instead of nothing :)

I have no arguments to support this idea :)

[2017-02-15 22:13] maximbaz commented on #118
So I managed to decrease the RAM usage of Cerebro after startup from ~430mb down to ~260mb... in a pretty weird way.

Hey @KELiON and @AlexAlabyev, could you check something on your boxes?

When Cerebro is running, I see a few `cerebro` processes, and two of them are `cerebro --type=renderer`:

![image](https://cloud.githubusercontent.com/assets/1177900/22997139/a48f6644-f3d1-11e6-90e7-710d9f84fd8

[2017-02-15 23:34] AlexAlabyev commented on #118
@maximbaz Yes, I have 2 render processes on Windows, as well. There's two of them because a renderer is getting created for each webview. So I suppose cerebro is using one renderer for the main process and another one for a webview. You don’t need to use webviews unless you want to run a remote web page, so I guess cerebro needs the webview for something. It initializing everything on start (the o

[2017-02-16 00:13] maximbaz commented on #118
I found what's not working when a second renderer is killed - file search and preview. Now the question is, does this second process provide something else, besides the file operations?

I would argue that this feature needs to be extracted in a plugin. I'm not sure I want to give 100mb of my RAM for a file search operation that I ~never~ very rarely use in Cerebro.

[2017-02-16 00:38] maximbaz opened #121 "Extract bundled functionality into independent plugins that can be disabled"
This suggestion is one outcome of the #118. I would like to see less functionality bundled together with the app, and instead shipped as independent plugins.

For example, I personally would like to disable:
- File search and preview (especially because the process running it consumes 100mb of RAM even when not used)
- Google search (also mentioned in #32).

It is totally fine though to pre-instal

[2017-02-16 00:46] maximbaz commented on #118
I think I'm going to run Cerebro with `--disable-gpu`, so far I don't observe any negative impact on the app, while I do have an extra 100mb free of memory :)

By the way, Slack by default is running with `--disable-gpu`. Perhaps we should consider making it default as well. I'll let you know if I discover any issues with using this flag.

[2017-02-16 09:27] vandamm commented on #46
@KELiON it's easy:

1. Invoke Cerebro window
2. Press Cmd+W (I'm on Mac)
3. Invoke Cerebro window again

[code]

Still happens on 0.2.6

[2017-02-16 09:42] KELiON commented on #46
@vandamm thanks! Going to fix it in next release

[2017-02-16 09:59] KELiON commented on #118
@maximbaz good catch with `--disable-gpu`, I'll investigate how it impacts an app and if it makes sense to use it by default.

About two renderer processes: it is true, one is main Cerebro window and another is just hidden window that is used for running background operations. It is used for all heavy long-running processes, so the main window works fast and without glitches. At least I can mentio

[2017-02-16 10:16] maximbaz commented on #118
Thanks for the info, so when I kill the second process on linux, not only file navigation stops working, but newly installed applications aren't being discovered anymore. Good to know.

I agree on the directions to investigate. The second point is a bigger investment, but it may have a bigger potential as well, especially in conjunction with #121. I would be interested to test how lightweight are

[2017-02-16 11:15] BrainMaestro opened #122 "[Question] Updating plugins"
How are plugins updated when a new version is released? Does the user have to update them or is it handled automatically?

[2017-02-16 11:26] KELiON commented on #122
@BrainMaestro hey! Now it is manual process – user searches plugin by name and choose update option. But I'm going to add autocheck and autoupdate

[2017-02-16 13:02] chesterhow opened #123 "Unable to launch Discord (Windows)"
![screenshot 23](https://cloud.githubusercontent.com/assets/9312956/23022306/090239bc-f48b-11e6-96df-a423ca74c473.png)

When I type "Discord" it shows a url instead of the app's filepath. When I hit enter, a little window pops up for a split second and disappears right away. And Discord doesnt get launched.

Anyone else facing this bug?

[2017-02-16 15:58] BrainMaestro commented on #122
Cool, if you point me in the right direction, I'd love to help somehow

[2017-02-16 18:40] elis commented on #112
`my` - search everything I have on connected apps - facebook, google, emails, docs, etc' etc' etc'

[2017-02-16 21:30] harryio opened #124 "v 0.2.26-1 not working on arch linux"
just installed it via aur package, running inside gnome doesn't put an icon in the tray; running from terminal says

`cat: /var/lib/dbus/machine-id: No such file or directory
A JavaScript error occurred in the main process
Uncaught Exception:
Error: Command failed: cat /var/lib/dbus/machine-id
cat: /var/lib/dbus/machine-id: No such file or directory

    at checkExecSyncError (child_process.js:495

[2017-02-17 07:43] letroll opened #125 "plugin installation don't work"
the installation of a plugin is blocked on the loading window.
I think that this is the proxy of the company. I have set my environment variables http_proxy and https_proxy, but that doesn't help ....
I was able to install plugins on previous versions, I'm currently in 0.2.6

[2017-02-17 12:16] maximbaz commented on #124
Hey @harryio, I maintain aur package at the moment. I would be interested to know if the problem is with the package build instructions, or the app itself. Could you try running the [AppImage version](https://github.com/KELiON/cerebro/releases/download/0.2.6/cerebro-0.2.6-x86_64.AppImage) and telling me if it works? Just download it, make file executable and run it. Also did you maybe have any err

[2017-02-17 13:08] harryio commented on #124
@maximbaz same error with the AppImage version.

There were no errors/warnings during the package build.

[2017-02-17 13:17] maximbaz commented on #124
Oh, have a look: #41, #86

[2017-02-17 13:21] harryio commented on #124
released or to be released?

[2017-02-17 13:23] maximbaz commented on #124
@KELiON is your man to answer this question :slightly_smiling_face:

[2017-02-17 13:24] maximbaz commented on #124
@harryio in meanwhile you can try aur package `cerebro-git`, that way you will test the state of the latest code in `master`.

[2017-02-17 17:06] KELiON commented on #125
@letroll did you use proxies in previous versions?

[2017-02-17 17:11] KELiON commented on #122
@BrainMaestro sure! I just want to check versions of all installed plugins once in a while (i.e. once in 3-4 hours) and for all outdated plugins just do an update (uninstall + install) and reload an app after updating of all plugins.

Best place to do this check is [initializeAsync](https://github.com/KELiON/cerebro/blob/master/docs/plugins/plugin-structure.md#initializeasync) method of [plugins](

[2017-02-17 17:19] KELiON commented on #124
@harryio @maximbaz hm, this fix is already included in few latest versions. You can solve it

but I'd like to check what happens. Do you have installed node.js and do you have an ability to debug it a bit?

[2017-02-17 17:30] letroll commented on #125
Yes and I think with the same settings but I'm not sure about 100%

[2017-02-19 10:03] BrainMaestro commented on #122
Okay I'll take a closer look tomorrow. Just a thought however, what if the update system was similar to the way Atom handles package updates? There would be a visual identifier of pending somewhere unobtrusive, but easy to see. That way, it's the user's choice on when to update.

[2017-02-21 08:25] ch3ckmat3 commented on #112
is local file search coming for windows (designated folders)?

[2017-02-21 12:17] letroll commented on #125
after somes tests, I can confirm, no problem with versions 0.2.4 and 0.2.5. So 0.2.6 has a regression I think

[2017-02-21 14:45] KELiON commented on #125
@letroll can you try to do next, please?

1) Open Cerebro preferences
2) Turn on developer mode and show in menu bar
3) In tray menu select developer → Dev. Tools (main) → switch to "console"
4) Select in tray menu developer → Reload
6) Try to install any plugin
7) Share output of your console here

[2017-02-21 14:47] KELiON commented on #112
In #45 @reflog mentioned that he started to work on windows search [plugin](https://github.com/reflog/cerebro-plugin-everything), but he was stuck with some problem, so now we just need someone who can help him to resolve it

[2017-02-21 16:46] Phrohdoh commented on #32
@captainhook What is the status of a duckduckgo plugin?

[2017-02-21 20:00] Smile4ever opened #127 "Non-working install when installing from AUR packages"
On Arch Linux, when installing the cerebro and cerebro-git AUR packages result in non-working install. I get the cerebro window, but I can not type in it:
![cerebro-arch](https://cloud.githubusercontent.com/assets/544411/23182342/84447978-f878-11e6-948a-b6033484c228.png)

If I run cerebro in a terminal, I get no error whatsoever.

AppImage is working fine though.

[2017-02-21 20:05] theweavrs commented on #123
Can confirm this.

[2017-02-21 20:27] vadimstrukov opened #128 "App search is not working [Lubuntu 16.04]"
Just installed latest version through AppImage, but cerebro is not searching my applications
![image](https://cloud.githubusercontent.com/assets/8940128/23183460/cbec9894-f884-11e6-8f36-5393edddd24e.png)

[2017-02-21 20:28] ido-ran opened #129 "Expected to stay on same plugin after selecting it and write more text"
Please help me find better subject if you can.

# Issue
After writing some text the plugins show on the left panel, if I select another plugin and then write more text the plugin selection jumps back to the first instead of staying on the selected plugin and update the content panel.

# Steps to reproduce
1. Open Cerebro
1. Write few characters
1. Select another plugin, Translate for example
1. Wr

[2017-02-21 20:54] rafa-acioly opened #130 "Start with the SO"
Is there any way to start the App along with the OS? (I'm currently starting through terminal)

[2017-02-21 22:20] maxjoehnk commented on #118
I haven't looked into the code yet but can't the indexing run in the main process?
The renderer process shouldn't care whether the main process is running some search operation and as long as there are no sync FS calls or stuff like that communication between both processes shouldn't be affected.

When you feel like it should run in a second process you need to use child_process
There is no functi

[2017-02-22 02:52] Pyrathar commented on #100
I just tested it out as well in Ubuntu 16.04 (unity) and first there's no preference bar on top, so i had to change it by running preferences inside it.

And there's no possible way of changing the keys no matter what I try would be awesome to change to win key + space like mac.

Services part is also empty

PS: the project is looking very good if we could remap the keys would be usable

[2017-02-22 03:58] CrashyBang commented on #130
On linux? You should have a "Startup applications" utility that you can point to `/usr/bin/cerebro`.

NOTE: I am not sure if that is the right path :)

[2017-02-22 05:45] Zenohm commented on #112
The ability to search and retreive the first paragraph or so of Wikipedia entries as well as the primary Wolfram Alpha results (Which can be fetched extremely easily through their plugin. [See here for all the APIs that Wolfram Alpha provides publicly](http://products.wolframalpha.com/api/), and [here for the one that would be the easiest to implement and theme](http://products.wolframalpha.com/si

[2017-02-22 05:50] kion commented on #128
Same on Ubuntu 16.10. Installed Cerebro via deb.

[2017-02-22 08:49] luisdavim commented on #130
On Linux this is easy to achieve, but how can it be done in OS X?

[2017-02-22 09:02] luisdavim opened #131 "Active screen"
I use a multi-head setup and cerebro always starts on the main screen (usually the laptop's built in monitor) it would be great if cerebro could be displayed on the active monitor, it could either follow the mouse or the window that has focus.

[2017-02-22 09:56] tenorz007 opened #132 "[Problem] Windows Plugin Development"
Changes aren't updated immediately in symlink. I have to close the link and create it again.

[2017-02-22 10:45] JLIT0 opened #133 "No file search in elementary OS"
All functions other than file search perform as expected.

When executed from the terminal, the following error appears:

`Gtk-Message: Failed to load module "pantheon-filechooser-module"`

[2017-02-22 11:16] hughwilliams94 commented on #124
I have just used the AppImage on Arch, it didn't work until I symlinked the file as above. I tried the cerebro-git Aur package which threw an error about cerebro.desktop being missing from an src folder. When building from source I get  no errors but the `npm run dev` fails with this message in a popup:

A Javascript error occurred in the main process

Uncaught Exception:
TypeError: Error processi

[2017-02-22 11:38] harryio commented on #124
@KELiON creating the symlink sure caused the error to disappear, but cerebro prompt is still unresponsive to clicks/typing.
I have node installed, can debug.

[2017-02-22 12:54] rafa-acioly commented on #130
@CrashyBang No files are generated in the / usr / bin folder :(
i'm using ubuntu 16.04

@luisdavim can you say how can i do it?

[2017-02-22 13:38] rafa-acioly commented on #130
I found the solution.

I first copied the `.AppImage` file to the `/ usr / bin` folder and then added it to `gnome-session-properties`

[2017-02-22 13:38] #130 closed

[2017-02-22 13:46] luisdavim commented on #130
@rafa-acioly that depends on what DE you are using, for example on i3 you add
[code]
On Gnome and Unity you can create a .desktop file under ```~/.config/autostart/``` that looks something like this:
[code]

I hope this helps.

[2017-02-22 13:51] rafa-acioly commented on #128
same on ubuntu 16.10. Installed Cerebro via `.AppImage`

[2017-02-22 13:55] prcastro opened #134 "Flatpak package"
Would be nice to have a Flatpak package for cerebro, so we can install easily on every Linux distro

[2017-02-22 13:58] luisdavim commented on #130
I've also found the solution for OS X, go to:
1. - System Preferences>Users & Groups.
2. - Select your User ID.
3. - Select Login Items.
4. - Click the lock icon and enter and admin password.
5. - Click the + button to select an app from your Applications folder.
6. - Or drag app icons across to Startup Items.

[2017-02-22 14:41] prcastro opened #135 "Proxy settings"
There is no proxy settings on the settings screen

[2017-02-22 15:13] maximbaz commented on #127
I confirm, looks like something got changed in the tools that we use to build cerebro. Both packages worked fine when `0.2.6` was released, but now there is a build failure *if you clone a repo from scratch*. And that is what both AUR packages do, they download sources and build it from scratch.

@KELiON you might want to look into this as well. I have a cloned `cerebro` repo since a few months, I

[2017-02-22 15:17] maximbaz commented on #134
Electron-builder doesn't support Flatpack yet - vote for it here: https://github.com/electron-userland/electron-builder/issues/512

You may also be interested to share your opinion in #117.

[2017-02-22 15:21] maximbaz commented on #131
This feature was implemented a while ago, and it works fine for me on Linux. I know @KELiON also tested on his Mac. Maybe you discovered a bug. But first, what OS do you use? Do you have the latest version installed?

[2017-02-22 15:23] maximbaz commented on #124
Also see #127, you may not be able to build the debug version at the moment.

[2017-02-22 15:30] luisdavim commented on #131
I'm on macOS Sierra 10.12.3 running cerebro 0.2.6 that I installed with brew cask.

[2017-02-22 16:14] rcalsaverini commented on #135
Expanding on what @prcastro said, I'm having problems installing plugins behind a corporate proxy. The queries work, but the plugins don't.

[2017-02-22 16:18] dar5hak opened #136 "Currency symbols not recognized"
### Steps to reproduce

- __Case 1:__ Type <kbd>113 ₣</kbd>
- __Case 2:__ Type <kbd>113 chf</kbd>

### Expected behaviour

Cerebro converts it to the local currency in both cases and displays the result in the text box.

### Actual behaviour

It only converts case 2.

### System info

elementary OS 0.4, based on Ubuntu 16.04

---

@maximbaz mentioned in #126 that symbol recognition only works for

[2017-02-22 16:26] luisdavim commented on #117
+1 for snap package and Snaps are supported by Electron-builder.

[2017-02-22 16:34] dar5hak commented on #133
I'm on elementary OS Loki, and file search works for me.

Quoting the readme:

Did you try typing the path like it says above?

(Also, the warning you see is harmless, [says Daniel Foré](https://bugs.launchpad.net/elementaryos/+bug/1525664).)

[2017-02-22 17:01] elmerehbi commented on #128
I am running it on Ubuntu Gnome 16.04 (running using `npm run package`; didn't figure out how to install) and things are working including app search.

[2017-02-22 18:35] pkajaba commented on #97
This is not that hard.

theme is chosen on this line of code https://github.com/KELiON/cerebro/blob/master/app/main/plugins/core/basic-apps/linux.js#L49

You can get default icon theme for gnome for example this way: `THEME=$(gsettings get org.gnome.desktop.interface icon-theme | tr -d "'")`. This just get you currently enabled theme and not path, so you would have to figure out whether it's in `/

[2017-02-22 18:48] maximbaz commented on #97
To be fair this command returns a correct GTK theme even on my ArchLinux ("Adwaita" in my case).

However, I can also see that on my linux none of the installed apps placed their icons in the `/usr/share/icons/Adwaita/**/apps/`, they only placed them in `/usr/share/icons/hicolor/**/apps/` folder.

I think it makes sense to accept a pull request which will look in the theme's folder _in addition_ t

[2017-02-22 19:22] pkajaba commented on #97
@maximbaz that command is not about distribution but desktop. I doubt that `gsettings` would work under KDE or anything what is not gnome.

It makes for all applications put their icons into `hicolor` folder since it's default theme defined by freedesktop: https://specifications.freedesktop.org/icon-theme-spec/latest/ar01s03.html

This is quite funny thing since `Settings` applications does not ha

[2017-02-22 19:29] pkajaba opened #137 "Recently used files or files on filesystem"
I would find really useful if there would be option to open files without writing down whole path.

For example there is picture `amazing_picture.png` inside of ~/Pictures. I enter `amazing_picture` and cerebro would show me a preview or give my possibility to open that picture with my preferred program.

[2017-02-22 19:33] pkajaba opened #138 "Redirect to opened app instead opening new one"
I believe that some people prefer to always open new apps, but for those would don't this would be great.

Example: I have opened one instance of `google-chrome`. When I use short-cut to initialize cerebro and type google-chrome, I would expect that previous instance would pop up instead of creating new one.

[2017-02-22 19:56] maximbaz commented on #97
Thanks for the hints, it was interesting to read about this. As it happens, I don't have gnome desktop environment installed, but I do have some bits and pieces of it on my box that were installed by other apps as dependencies (like `gtk2`, `gtk3`, and specifically `glib2` which provides `gsettings` binary).

In any case, if there will be a pull request, I would be happy to test it.

[2017-02-22 20:23] maximbaz commented on #127
Experiment has shown that the issue is caused by the latest release `6.23.0` of babel. Even though dependency versions are locked, the _nested dependency versions_ are not.

On the working repo:

[code]

On the newly cloned repo:
[code]

@KELiON could you perhaps use [npm shrinkwrap](https://docs.npmjs.com/cli/shrinkwrap) to lock the versions of the all the nested dependencies? That way we will no

[2017-02-22 21:13] maximbaz commented on #138
But don't you think it's the app that should decide this, not the launcher?

[2017-02-22 22:56] tunnckoCore commented on #124
I'm on ArchLinux too and trying to get AppImage working, but the same error occures. I don't I have node globally, hence hate that - i have nvm. But if I remember correctly Atom installed it for me recently ;/

I don't see how we can debug using the appimage file.

[code]

[2017-02-22 23:00] maximbaz commented on #124
I don't think either that you can debug AppImage, you'd have to clone the repo and run a dev version, see section [Install](https://github.com/KELiON/cerebro#install) of the readme.

[2017-02-22 23:00] matmunn commented on #138
I'm using Cerebro on a Mac and I can confirm that Chrome uses this behaviour - it switches to the already open instance instead of creating a new one.
I haven't yet tried it on my Linux laptop though.

[2017-02-22 23:05] matmunn commented on #131
I'm on macOS 10.12.4 running Cerebro 0.2.5 installed from the .dmg on the releases page and I can confirm that I only get the cerebro window on my main monitor.

[2017-02-22 23:09] maximbaz commented on #131
Guys I've just realized that I misread the description, sorry! The feature I mentioned was about _remembering_ the window position, instead of being always displayed on the primary screen. That is, if you move a window to a different screen, next time it will start there. But unfortunately there is no electron API to detect the _active_ screen, or I didn't find one.

[2017-02-22 23:10] matmunn commented on #131
In that case I can confirm that it remembers the active screen on macOS 10.12.4 ;)

[2017-02-22 23:38] luisdavim commented on #131
Hi,
Sorry if I didn't expressed myself correctly.
I never used electron so this may be rubbish but I think you could use '''screen.getCursorScreenPoint()''' to get the cursor position and then '''screen.getDisplayNearestPoint(point)''' to get the display does that makes sense?

https://github.com/electron/electron/blob/master/docs/api/screen.md

Luis

[2017-02-22 23:50] maximbaz commented on #131
I think that's a good idea on how to follow a mouse, though I personally would rather prefer to follow a screen that has focused window... if there was such API.

[2017-02-22 23:56] luisdavim commented on #131
Alfred has both options and I was using "follow active screen" and then switched to "screen containing mouse" and I actually prefer that.
For me it would be great if you could add this option.
Thanks.

[2017-02-23 00:00] maximbaz commented on #131
I think long-term we should target having both options as well, and for now since we know how to implement "follow the mouse" it should be added right away :+1:

[2017-02-23 00:01] luisdavim commented on #131
Awesome, thanks.

[2017-02-23 01:50] Lampwick commented on #112
define using Gnome Dictionary for linux.
Likewise contacts search using Gnome Contacts.

[2017-02-23 01:54] Lampwick commented on #115
I'd love file search for Linux too. It's just more convenient than having to type out and remember the full file path.

[2017-02-23 01:56] Lampwick opened #139 "Document file previews"
It would be great if previews of documents in formats such as .doc .docx .xls .xlsx .odt .odp .ppt , etc. were included.

[2017-02-23 06:10] matmunn opened #140 "Uncaught TypeError: Cannot read property 'startsWith' of undefined"
This afternoon I've noticed that I can no longer start apps with Cerebro - they're not in my search results.

I opened up in devtools and am presented with the following:
![image](https://cloud.githubusercontent.com/assets/65853/23246938/380789d2-f9eb-11e6-8ea4-f50da14c75cf.png)

I can attach a live stack trace, it just didn't copy nicely.

[2017-02-23 09:04] KELiON commented on #140
@matmunn interesting! I hope #141 will fix it. Can you check [this build](https://www.dropbox.com/s/ru6jnfg32c3sco2/Cerebro-0.2.6.dmg?dl=0)?

[2017-02-23 09:13] KELiON commented on #139
@Lampwick I don't think it is possible. When I checked these formats I found [library](https://github.com/SheetJS/js-xlsx) for xls that can help, but nothing for docs.

I see only one way of rendering doc and docx files that is sending them to web services, like google docs and get preview from them. But it is not a solution, because no one wants to send their private files to third-party services

[2017-02-23 09:14] matmunn commented on #140
Hey @KELiON, I've installed the build you linked and it all seems to be ok. I'll close this issue for now and reopen or create another one if the problems pops back up again.

[2017-02-23 09:14] #140 closed

[2017-02-23 09:15] KELiON commented on #138
@pkajaba what operation system do you use?

[2017-02-23 09:15] KELiON commented on #140
@matmunn thanks!

[2017-02-23 09:17] KELiON commented on #137
Duplicate of #115

[2017-02-23 09:17] #137 closed

[2017-02-23 09:19] KELiON commented on #133
@JLIT0 currently Cerebro doesn't have files search, only apps search and files navigation (using `~/Dropbox/passport.pdf or `/Something/my_file.png`).

Adding files search is already in the issue #115

[2017-02-23 09:19] #133 closed

[2017-02-23 09:54] KELiON commented on #97
Ok, summarizing: looks like we can use `gsettings get org.gnome.desktop.interface icon-theme | tr -d "'"` to get theme and after that look up for app icon in the same folders, that we use now + replace `hicolor` with current theme.

Should be easy change! Thanks @pkajaba

[2017-02-23 09:58] maximbaz commented on #97
@KELiON `hicolor` should not be replaced, like I mentioned earlier all my app icons are in `hicolor` despite the fact that my reported theme is `Adwaita`. Just look in the theme folder first, and if the icon is not there, look in `hicolor`.

[2017-02-23 10:01] KELiON commented on #131
@luisdavim I couldn't find these options in Alfred. Is it somewhere in settings?

[2017-02-23 10:07] KELiON commented on #127
@maximbaz I'll check why it fails on babel 6.23.0 and try to fix it. And I'd just migrate to yarn, that should solve all npm problems.

I thought that fixing versions in `package.json` is strict enough to avoid this kind of problems, but it is not!  Thanks for investigation, @maximbaz

[2017-02-23 10:10] KELiON commented on #124
@tunnckoCore actually we don't need to debug it, I see that you have the issue with `node-machine-id`. Currently, you can fix it with symlink (#41).

[2017-02-23 10:18] tunnckoCore commented on #124
@KELiON actually, yea, i did that and it works. it is just amazing!

[2017-02-23 10:27] tunnckoCore opened #142 "Themes support?"
I've seen that we have dark and white, but more ability to add and switch themes would be great. Is there such feature? Didn't see in docs.

[2017-02-23 10:30] tunnckoCore opened #143 "Control + Backspace deletes the whole line"
I'm used to ctrl+backspace to just delete previous word, so is any chance to fix that behavior?

[2017-02-23 10:34] Kageetai commented on #115
I thin a full file search of the full system is a bit much (if not using something like *Everywhere* on Windows (WIP)), but maybe we can also just add custom directories that the user wants to be searched, like the home dir etc.? I'd personally also prefer that to just search the whole system and get a lot of clutter in the search...

[2017-02-23 11:01] KELiON commented on #123
#144 should fix it! Can you try [this build](https://www.dropbox.com/s/hylenaysj374lqg/Cerebro%20Setup%200.2.6.exe?dl=0)?

[2017-02-23 11:05] KELiON commented on #129
@ido-ran I think it makes sense! I'll try to fix it, should be super useful for plugins like translate or maps

[2017-02-23 11:06] KELiON commented on #143
@tunnckoCore wow, I didn't know about this behaviour. Is it default shortcut? On which OS?

[2017-02-23 11:09] KELiON commented on #142
@tunnckoCore custom themes are in backlog! Do you want to do your own theme? If so you can just check current [css](https://github.com/KELiON/cerebro/blob/master/app/main/css/themes/light.css) file and use your own styles. Theme is just one file with css variables

[2017-02-23 11:11] KELiON commented on #132
@tenorz007 hey! Can you please give me more details? Do you use [boilerplate](https://github.com/KELiON/cerebro-plugin)? What do you see in terminal output when something changes? What are you doing after your changes, how do you close the link and create it again?

[2017-02-23 11:15] KELiON commented on #128
Can you please do the following:

1) Open settings
2) Turn on developer mode, show icon in tray
3) From tray icon choose development -> DevTools (background)
4) From tray icon choose development -> reload
5) And after that send me output of `console` tab of devtools?

/cc @vadimstrukov @kion @rafa-acioly

[2017-02-23 11:18] KELiON commented on #118
@maxjoehnk not exactly the same, because `BrowserWindow` supports all web APIs (i.e. `fetch`), when `child_process` supports only node

[2017-02-23 11:22] tunnckoCore commented on #142
Hoo, great i'll try it! And it seems pretty small :) So we'll wait themes api.

[2017-02-23 11:23] maxjoehnk commented on #118
Yeah but there are libraries emulating e.g. the fetch api in node or you need to rewrite the background process to only use node APIs.

Which browser only APIs are you using?

[2017-02-23 11:25] tunnckoCore commented on #143
ArchLinux.

I believe yes. It is available on any input type=text, i believe? Try google input field or any other form out there. If i remember the dark times on windows before couple of years it was existing there too.

[2017-02-23 11:25] KELiON commented on #142
@tunnckoCore since we don't have external themes support yet, we can just add more themes to the core.

If you have any good looking themes just do a PR with your new theme css file. Let me know if you need some help!

[2017-02-23 11:26] KELiON commented on #143
On MacOS it just clears whole input. Thanks for report, I'll fix it

[2017-02-23 11:29] vadimstrukov commented on #128
![image](https://cloud.githubusercontent.com/assets/8940128/23257151/42488eb6-f9cb-11e6-9e49-1656dcb8779c.png)
Interesting.. After i deleted .desktop entry of Fallout2 with bad encoding, everything seems to be working fine and without any errors in console.
![image](https://cloud.githubusercontent.com/assets/8940128/23257296/e44d460c-f9cb-11e6-9bfa-e79b48a1f852.png)

[2017-02-23 11:30] tunnckoCore commented on #142
Great! I'll try and PR when have more time.

[2017-02-23 12:04] rxng commented on #115
Yes... alfred has this feature that allows you to specify folders to search in

[2017-02-23 12:09] pkajaba commented on #138
Fedora 25

[2017-02-23 12:15] pkajaba commented on #97
It's bit messy, but to summarize it:

- `hicolor` is default by standard, it should everywhere.
- `gsettings get org.gnome.desktop.interface icon-theme | tr -d "'"` will work just when you have some gnome packages installed (won't work everywhere)
- icon theme does not have to be installed in `/usr/share` but it can be also in `~/.icons`

The proper way how to tackle this is do some research how `

[2017-02-23 12:18] maximbaz commented on #112
Perhaps extension of the converter plugin: convert datetime to unix timestamp and back.

[2017-02-23 12:22] ido-ran commented on #129
I agree, and thank you for this project, I had to move from Mac to Windows and now finally at least I have search back.

[2017-02-23 12:50] chesterhow commented on #123
@KELiON It works now! Small issue though, it now shows 2 listings of Discord. Both of which are able to launch Discord perfectly fine.

[2017-02-23 13:02] KELiON commented on #123
@chesterhow I suppose it is because you have two `.lnk` files in your system. Can you please try to open file location using `ctrl+r` from Cerebro for both files and post these locations here?

[2017-02-23 13:06] chesterhow commented on #123
Both lead to the same file location. But if I'm not wrong it seems I have 2 versions of Discord :o
![capture14](https://cloud.githubusercontent.com/assets/9312956/23260241/d4d40266-fa0b-11e6-834b-eb2cb75213f1.PNG)

[2017-02-23 13:29] atuttle commented on #100
Checking in as another Mac user that can't bind to Command+Space to replace spotlight. Per the [Alfred instructions](https://www.alfredapp.com/help/troubleshooting/cmd-space/), I have not only disabled the spotlight shortcut, but also changed its mapping before disabling it:

![image](https://cloud.githubusercontent.com/assets/46990/23260866/db3dc994-f9a1-11e6-957b-cd2919f535e4.png)

And the same

[2017-02-23 13:36] lsabiao commented on #100
Same issue on Elementary OS ( ubuntu )

[2017-02-23 14:08] scmanjarrez opened #146 "Launch Apps on Linux"
Hi,
Is there any command to execute apps on Linux (Ubuntu 16.04.2 LTS, Gnome, Cerebro 0.2.6 installed via .deb), I typed some apps in the search box but only google search/translation is prompted.

![screenshot from 2017-02-23 15-06-18](https://cloud.githubusercontent.com/assets/9284124/23262109/c84cd84c-f9d9-11e6-91e6-6a0554d8fdf3.png)

[2017-02-23 14:09] KELiON commented on #146
@scmanjarrez hey! Can you please do the following:

1) Open settings
2) Turn on developer mode, show icon in tray
3) From tray icon choose development -> DevTools (background)
4) From tray icon choose development -> reload
5) And after that send me output of `console` tab of devtools?

[2017-02-23 14:13] scmanjarrez commented on #146
Hi,
Thanks for the answer.

![screenshot from 2017-02-23 15-13-32](https://cloud.githubusercontent.com/assets/9284124/23262357/ab302ca4-f9da-11e6-9852-3424bfceeaf3.png)

[2017-02-23 14:18] scmanjarrez commented on #146
It seems like an error of my previous team viewer app, I've deleted that file (.desktop) and now is working properly.
Thanks.

[2017-02-23 14:18] #146 closed

[2017-02-23 14:44] luisdavim commented on #131
@KELiON it's under the appearance tab on the theme options (button on the bottom left).
<img width="521" alt="screen shot 2017-02-23 at 2 43 30 pm" src="https://cloud.githubusercontent.com/assets/173006/23263577/8c1358e0-f9d6-11e6-9a2a-f1b77c2ba034.png">

[2017-02-23 15:12] KELiON commented on #131
@luisdavim now I see, thanks. I have only one concern: how can it work together with "save position" option? I.e. case:

1) Check "save position" checkbox;
2) Move window somewhere on screen 1 and hide the window;
3) Move cursor to screen 2 and use shortcut to show window;
4) Where the window should appear?

I'd try to find some universal solution. I don't like too much configuration options and I

[2017-02-23 15:13] ColCh commented on #112
other one is to use multitran for translating instead of yandex http://www.multitran.ru/c/m.exe?a=1
I can work on this plugin since I want it too much :)

[2017-02-23 15:22] luisdavim commented on #131
with one of these options enabled, follow mouse or active window the position that is saved is relative to the monitor instead of absolute across all monitors.

[2017-02-23 16:46] rafa-acioly commented on #112
Hey guys! i just finished the first version of color convert (rgb to hex and vice versa), i'm currently needing of help to make a implementation of "copy to clipboard" and show the result on "main section" of cerebro, I'll be happy if someone sends the pull request.

https://github.com/rafa-acioly/cerebro-convertcolor

hope you all enjoy.

[2017-02-23 17:02] elmerehbi commented on #65
Has fuzzy search been implemented in the latest release? I typed "thnder" to open thunderbird but it doesn't display it.

Also on Linux (Ubuntu Gnome) it can't find "totem".

[2017-02-23 17:04] elmerehbi commented on #112
+1 for [Wikipedia & WolframAlpha](https://github.com/KELiON/cerebro/issues/112#issuecomment-281575675)

[2017-02-23 17:09] elmerehbi commented on #64
French & English would be great with Google Translate?

[2017-02-23 17:15] KELiON commented on #127
@maximbaz I hope #148 should fix all npm-related shit. Can you try to install Cerebro from scratch from this branch on your machine and let me know if it is ok?

[2017-02-23 17:21] KELiON commented on #64
@elmerehbi unfortunately only yandex.translate is supported now, but it has French and English. Google doesn't provide good and free way to have an access to Google translate.

Plugin tries to understand source language and based on source language and your system language guess what is the target language.

[2017-02-23 17:23] KELiON commented on #65
@elmerehbi no, fuzzy search is not included. I'm still thinking about it, because I'm afraid it could generate a lot of noise. So, currently to find `thunderbird` you should start your search with `thun...`. Another way works only if app name contains a space of have CamelCase (like `ThunderBird`). In this case you can use `tb` to find it

[2017-02-23 17:28] maximbaz commented on #127
Just tested, works beautifully! Thanks a lot!

For people interested in AUR packages, I can update the build commands for `cerebro-git` right after #148 is merged into master, but to get the regular `cerebro` we'd need to wait for the next release.

[2017-02-23 17:32] KELiON commented on #134
omg, one more Linux package format 😱.

@prcastro we are planning to add support for `snap` packages. Why would you prefer Flatpak over snap?

[2017-02-23 17:42] tenorz007 commented on #132
I am using the boilerplate, I am able to load the plugin. However when I make changes to the code the terminal outputs the file that I changed but yet it doesn't seem to show up on the app. So I have to keep killing the symlink and run it again whenever I make a change.

[2017-02-23 19:00] jorgicio commented on #127
The Yarn update works flawlessly. I maintain the package for Gentoo in my overlay, used yarn instead of npm, and it works fine.

[2017-02-23 19:36] ColCh commented on #100
Same thing  on Mac OS Sierra.

[2017-02-23 22:08] Kageetai commented on #131
Hmm maybe do it similar to Alfred and have an exclusive option to either follow mouse or save position?!

[2017-02-23 22:12] maximbaz commented on #139
Just as an idea, there is [odt2txt](https://github.com/dstosberg/odt2txt) which could be leveraged if it is available on the user's computer, but of course it will not generate any nicely formatted preview, it will just retrieve the text.

[2017-02-23 22:15] matmunn opened #149 "Uncaught (in promise) TypeError: Cannot read property 'replace' of undefined"
I upgraded to the build linked in #140 and now I still can't launch applications.

The stack trace has changed to the below:
[code]

It seems to reference cachedAppsList so I'm thinking this might be where the problem stems from. Is there a way to flush the cached apps so I can see if that fixes it?

[2017-02-23 22:15] luisdavim commented on #131
I would say, with follow mouse enabled, you save the position relative to the screen, if not, you save the absolute position. That way you only need a toggle to follow mouse or not and the default behaviour is kept.
What do you think?

[2017-02-23 22:16] maximbaz commented on #131
There's no need to have exclusive mode, now we detect a primary screen and save position based on its ID, if the "follow cursor" mode is enabled, we could just use exactly the same algorithm but base it on the "detected screen". That way, you could choose favorite positions on each of your screens, and they all will be remembered.

[2017-02-23 22:24] maximbaz commented on #131
To give you some context, [this](https://github.com/KELiON/cerebro/blob/71d5bb1e80e690579dd1724d11e2108424ccb90f/app/main/createWindow.js#L60-L63) is the logic of storing the window position after it was moved. As you can see, the primary screen is detected, and its ID is used to save the position in the config. Supply it with "active" display instead, and the position will be stored for that scre

[2017-02-23 22:28] maximbaz commented on #149
Quit the app, remove the `apps_cache.json` file [in the same folder where config is located](https://github.com/KELiON/cerebro#config-file-path), start the app again.

[2017-02-23 22:29] luisdavim commented on #131
That sounds like an awesome idea!

[2017-02-23 23:01] matmunn commented on #149
I had a look there and that file didn't exist. Is there anywhere else it could be located?

[2017-02-23 23:13] maximbaz commented on #149
Apparently that is a location of cache file on Windows / Linux only, which means you are probably on Mac :)

After a quick look over the code it doesn't seem like the Mac apps are cached on disk, actually. So the app restart should be enough, I imagine. But I might be wrong :)

[2017-02-23 23:30] matmunn commented on #149
Correct, I'm on a Mac.

I tried poking around in the stack trace and the code a little, but I'm not very familiar with Electron apps.

If the cached apps aren't persisted to disk then how would it be loading them to run through the cached apps function?

[2017-02-23 23:37] maximbaz commented on #149
I see a [memoized function](https://github.com/KELiON/cerebro/blob/master/app/main/plugins/core/osx-apps/index.js#L36-L41) which is [periodically invalidated](https://github.com/KELiON/cerebro/blob/master/app/main/plugins/core/osx-apps/index.js#L84-L90), so my guess is that all the apps are being searched for the first time when the app starts (no cache on startup), the results are then memoized i

[2017-02-23 23:42] matmunn commented on #149
It's strange, I just left Cerebro running for a while and it's picked up my applications.

I restarted the program and they're still there - I haven't installed any new programs or deleted any old ones. No idea what is going on there.

[2017-02-23 23:56] Banterlmanchild commented on #112
Search in software centre/app store for apps not installed

[2017-02-24 01:19] Monessem opened #150 "Support windows 32bit"
windows 32 still used please release version

[2017-02-24 03:16] srdeleon commented on #112
Plugin that announces new released or featured plugins.

[2017-02-24 03:18] srdeleon commented on #112
Plugin to make quick reminders on the fly.

[2017-02-24 10:03] wonzbak opened #151 "Window size"
Hi,

Is there a way to have a bigger window size?
Is use devdocs.io plugins and the window is a little bit smaller to read doc.

[2017-02-24 10:17] Kwaadpepper commented on #112
Zeal integration
Steam Games
Virtualbox Machines

[2017-02-24 10:23] KELiON commented on #151
@wonzbak hey! Sure, you can just resize it:

![](http://g.recordit.co/jKwFsjpNrt.gif)

I also use this plugin and need a bigger window. It works great with [divvy](http://mizage.com/divvy/): I have global shortcut to change current window to full-screen (not MacOS fullscreen, just biggest possible size of window).

[2017-02-24 10:28] Kageetai commented on #151
I also noticed that it always resets the size after restarting the app. Can we maybe remember the size just like the position :)

[2017-02-24 10:42] BrainMaestro commented on #122
Haven't been able to figure out how to do this. Maybe you can pick it up if you still want to

[2017-02-24 10:42] #122 closed

[2017-02-24 10:57] KELiON commented on #151
@Kageetai I like the idea! @maximbaz what do you think about saving size with position?

[2017-02-24 10:59] KELiON commented on #149
@matmunn interesting, let us know if it happens again

[2017-02-24 11:02] maximbaz commented on #151
Great idea indeed :+1:

[2017-02-24 11:02] KELiON commented on #132
@tenorz007 can you try to update the file and use `development` → `reload` from tray menu?

[2017-02-24 11:07] KELiON commented on #127
@maximbaz #148 is merged, you can update `cerebro-git`

[2017-02-24 13:07] prcastro commented on #134
Snap is a centralized approach by Canonical. Flatpak is made by RedHat, with a more distributed apporoach. The number of contributors of Flatpak is higher than Snap or AppImage, and it's being used by GNOME (on distros like Fedora, RedHat, Arch and others) and it's been considered by KDE and ElementaryOS as the next default packaging format. Skype, Telegram, Spotify, Libreoffice, Blender and GNOME

[2017-02-24 13:36] maximbaz commented on #127
Thanks! `cerebro-git` is working again.

[2017-02-24 14:10] AlexAlabyev commented on #116
@KELiON  that would be great, thanks. It's unusable on windows. It's a very annoying bug

[2017-02-24 19:40] matmunn commented on #149
@KELiON I'll close this for now and let you know if it happens again. Thanks guys

[2017-02-24 19:40] #149 closed

[2017-02-24 19:46] dynobo commented on #115
I also would love to see file search in this great App. My use case is:
* open the files faster than going through file explorer by
* searching in specified folders recursively for files of specified file types and by
* searching for folder name and contents (for text files at least)
I want to add: This is my mostly missed feature in cerebro and the reason why I probably stick to Albert...

[2017-02-24 19:50] dynobo commented on #112
* File Search
* Calculator
* Search for Contacts (CardDAV)
* Weather forecast

[2017-02-24 19:58] Banterlmanchild commented on #112
Weather updates based by default on your location but if you put a place before hand then weather there, could be merged with the time

[2017-02-24 20:40] killown opened #152 "gtk-primary-button-warps-slider error"
➜  ~ cerebro
Gtk-Message: (for origin information, set GTK_DEBUG): failed to retrieve property `gtk-primary-button-warps-slider' of type `gboolean' from rc file value "((GString*) 0x25200023ff20)" of type `gboolean'

gtk3 3.22.8-1 gtk2 2.24.31-1

[2017-02-24 22:34] elis opened #153 "On windows (10) the debug workflow doesn't work"
The linked directory somehow isn't updated with the changes in source director.

[2017-02-25 00:37] Lampwick commented on #139
It might be worth taking a look at the code for Sushi which acts like osx quicklook and generates previews for .doc, .xls, .ppt, .odt, .odp, etc.

[2017-02-25 03:31] codingmatty opened #154 "When trying to update plugin, uninstalls instead"
This is hard to recreate, but I noticed there were the option to `uninstall`, `update`, or `details`, and when I tried to `update` it actually uninstalled the plugin instead. Then I have to go back to the plugin to reinstall.

[2017-02-25 03:34] codingmatty commented on #154
I see this line, it uninstalls and then installs, but I guess it doesn't get back to the install part

https://github.com/KELiON/cerebro/blob/5e36eb25031ea25a395289fbe8de1dc102a8d723/app/lib/plugins/npm.js#L100

[2017-02-25 10:29] tenorz007 commented on #132
I do that, it logs that the change is noticed however when I run the plugin alas the change isn't updated.
Someone else has this issue #153

[2017-02-25 10:53] fonorobert opened #155 "Uses serif font on Manjaro"
Running Manjaro (Arch based), installed cerebro from AUR from `cerebro-git`.
cerebro works correctly in every other regard but it seems to default to a serif font instead of either the sans font seen in screenshots or the system default font (also sans). see screenshot:

![screenshot from 2017-02-25 11-35-50](https://cloud.githubusercontent.com/assets/6963710/23330534/65890050-fb50-11e6-9855-04990

[2017-02-25 12:14] dynobo opened #156 "System Language not respected for Application Shortcuts"
Cerebro 0.2.6, Arch Linux

The applications seem to be indexed in english only. My desktop environment (gnome) is in german. As the application titels are sometimes pretty different, it's hard for me to find my applications.

Eg. gnome-tweak-tool is indexed in english "Tweak Tool":
![bildschirmfoto von 2017-02-25 13-11-47](https://cloud.githubusercontent.com/assets/11071876/23330940/2e85de8c-fb5c-

[2017-02-25 20:59] maximbaz commented on #155
I may be wrong, but I think [this](https://github.com/jonathantneal/system-font-css) is what is used to determine the font.

By the way, consider trying out [fonts-meta-extended-lt](https://aur.archlinux.org/packages/fonts-meta-extended-lt/), I'm very happy with these fonts.

![image](https://cloud.githubusercontent.com/assets/1177900/23334729/738a0960-fba5-11e6-83c3-b8f45d54c844.png)

[2017-02-25 21:52] wilkoklak opened #158 "Use mouse to navigate the input"
I'm on Ubuntu 16.04 and when I try to set input cursor by mouse, I cannot. I can only drag the window. Can you make it possible to change input cursor position via mouse?

[2017-02-26 00:16] mistic100 commented on #123
I had the problem with Chrome apps, I confirm this build works, thank you.

[2017-02-26 01:02] Lampwick opened #159 "More file previews"
Can you add previews for .flac, .opus, and .mkv?

[2017-02-26 01:17] miftahafina opened #160 "Can't see rounded corner here"
I just tried to install Cerebro in my Ubuntu 16.04 with unity desktop, but there's no rounded corner like on cerebro's homepage.

![screenshot from 2017-02-26 08-12-32](https://cloud.githubusercontent.com/assets/5361135/23336199/5cec845c-fbfb-11e6-8c9e-4d63472c0af9.png)

[2017-02-26 09:38] AlexAlabyev commented on #160
@miftahafina there's no rounded corners on windows as well. I suppose it's using system's styles and showing up only on MacOS

[2017-02-26 10:46] Krbz opened #161 "Natural set of hotkeys"
Will be nice to have a natural shortcuts.

CTRL + Backspace - remove only one word
CTRL + Z - undo
CTRL + Y - redo

[2017-02-26 11:06] KELiON commented on #153
Can you try latest [cerebro-plugin](https://github.com/KELiON/cerebro-plugin), maybe [this PR](https://github.com/KELiON/cerebro-plugin/pull/7) fixes this problem

[2017-02-26 11:07] KELiON commented on #153
BTW, it is duplicate of #132

[2017-02-26 11:07] #153 closed

[2017-02-26 11:07] KELiON commented on #132
@tenorz007 Can you try latest [cerebro-plugin](https://github.com/KELiON/cerebro-plugin), maybe [this PR](https://github.com/KELiON/cerebro-plugin/pull/7) fixes this problem

[2017-02-26 11:07] #123 closed

[2017-02-26 11:09] KELiON commented on #160
@miftahafina screenshots on Cerebro's website was captured on MacOS and this option depends on OS

[2017-02-26 11:09] #160 closed

[2017-02-26 11:12] KELiON commented on #154
@codingmatty looks like something happened during uninstallation. Can you check console and copy output here is you have this problem again?

[2017-02-26 11:20] maximbaz commented on #161
FYI, all of these shortcuts work fine for me in `master` branch. Probably got fixed together with #143.

[2017-02-26 13:02] Banterlmanchild commented on #112
Dictionary and thesaurus native support would be pretty cool

[2017-02-26 15:05] flavioheleno commented on #112
Hey all, I just put together a very simple plugin for searching [php.net](http://php.net) manual.

It is here: https://github.com/flavioheleno/cerebro-php

Whenever I have some more time to hack into it, I want to get the results to be displayed inside Cerebro, just like the [stackoverflow](https://github.com/KELiON/cerebro-stackoverflow) plugin does.

[2017-02-26 15:19] nicholasfoden opened #164 "feat: autoselect current text on open when "clean results on hide" not selected"
would be good to have a setting to auto select text that is left in the box after hiding and reopening cerebro, v useful for the clipboard plugin amongst others

[2017-02-26 16:04] yuzugit commented on #112
Hey all, nice tool (I switch from Wox to this one). I think it could be very could to be able to select search engine in the tool parameters. I though about using plugins but if I don't want google as a search engine at all it's not possible unless I recompile from the source.

Having a list of "favorite" search engine could be nice (wikipedia, duckduckgo, qwant...) like in firefox params.

[2017-02-26 17:37] dar5hak commented on #155
Related: On elementary OS, everything uses the Ubuntu font, except Cerebro Settings, which uses serif.

![screenshot from 2017-02-26 23 05 38](https://cloud.githubusercontent.com/assets/8205055/23342000/2e984e38-fc78-11e6-89c3-9285bea06ad4.png)

[2017-02-26 17:52] dar5hak commented on #134
Agree with @prcastro, except that Canonical no longer controls the roadmap of snap. They handed it over to a committee which has people from elementary, Fedora, KDE, etc.

Not saying it's the better format, just mentioning a recent change. :slightly_smiling_face:

[2017-02-26 18:24] mijoharas commented on #124
I don't get any error messages, I just get the window showing up, and nothing happens when I type. The same happens when I go to preferences or plugins.

[2017-02-26 18:31] mijoharas commented on #124
sorry, ignore me, just realised that I have the issue described in https://github.com/KELiON/cerebro/issues/127 will try `cerebro-git`.

[2017-02-26 19:05] AlexAlabyev opened #166 "[Feature Requests / Discussions] - Clipboard Manager Plugin"
Hey guys, what do you think about a **clipboard manager plugin** for Cerebro?

Sometimes you accidentally copy some text over something important in the clipboard and it gets deleted. Cerebro is always in the background, so the plugin would be able to store all the copied text/images and maybe save it every 10 minute to a json file, or something.

It could be open in two ways:
1. Open Cerebro and

[2017-02-26 19:06] mijoharas opened #167 "Error running plugin google ReferencError: search is not defined."
I seem to be having problems with a lot of the plugins not working.

[code]

In addition, I have tried installing some plugins but they do not seem to be registered.

[2017-02-26 19:08] KELiON commented on #167
@mijoharas what version do you use?

[2017-02-26 19:10] mijoharas commented on #167
Your are using latest version of Cerebro (0.2.6).

(installed from arch `cerebro-git` aur package).

[2017-02-26 19:15] maximbaz commented on #167
I didn't notice it earlier, but I reproduce this as well. I think it was caused by https://github.com/KELiON/cerebro/pull/157

Can't start apps anymore, and google plugin is not there.

[2017-02-26 19:22] KELiON commented on #166
@AlexAlabyev Looks like @codingmatty already [did it](https://github.com/codingmatty/cerebro-plugin-clipboard).

I like the idea about the shortcut for clipboard manager, but currently, there is no way to set it for external plugins. I'll try to find the better way to implement it and add to the plugins API.

Regarding design: I like more @codingmatty's option, so you can navigate/filter your clip

[2017-02-26 19:24] KELiON commented on #167
@maximbaz looks like it is something related to babel or other building stuff because I can reproduce it only in production build. In dev. environment everything works well. So, I'm investigating what is the reason

[2017-02-26 19:25] maximbaz commented on #167
Yes, I just reached the same conclusion, it is not reproducing with `yarn run dev`. Interesting...

[2017-02-26 19:41] KELiON commented on #167
@maximbaz hm, ok. If I change `const` [here](https://github.com/KELiON/cerebro/blob/master/app/main/plugins/core/google/index.js#L21) to `var` it works in production build too. Current status:

![image](https://cloud.githubusercontent.com/assets/594298/23342944/8ce95b68-fc63-11e6-8a81-992b11628ae4.png)

Going to use it as a hotfix now. I have no idea what causes this issue, but I'm almost sure tha

[2017-02-26 19:49] KELiON commented on #167
@maximbaz I just pushed the fix, but should it be updated somehow for `cerebro-git`, or it just uses  latest version from master branch?

@mijoharas I think you can try to reinstall it

[2017-02-26 19:53] AlexAlabyev commented on #166
@KELiON Oh nice, I didn't know it's already been created. I would agree, @codingmatty's version is quite good.

As for the shortcut for the `clipboard` plugin, I think we could've implement it very easily: <br>There's a `ctrl + spacebar` shortcut for opening the Cerebro, right? So why wouldn't we add another function for the `ctrl + shift + spacebar` shortcut, which would open Cerebro AND add the

[2017-02-26 19:55] maximbaz commented on #167
It just uses the latest code from `master` branch, no extra change required. Just tested, the search is working again. What a weird issue!

[2017-02-26 20:02] mijoharas commented on #167
Hi, reinstalling fixes the search issue.

I am still having troubles with the plugins though. The only other error message I can find is:

[code]

[2017-02-26 20:03] maximbaz commented on #167
what kind of troubles do you have?

[2017-02-26 20:08] #167 closed

[2017-02-26 20:11] wilomgfx opened #168 "Add to electron.atom.io/apps"
It should be added with all the great electron apps list :)
So that people can find it easier/discover whilst looking at electron apps.

here http://electron.atom.io/apps/

Thanks for making this amazing app. Ill be switching from alfred on my mac and from wox on my pc. Now i can use the same app on both :D

[2017-02-26 20:26] mijoharas commented on #167
Hi, @maximbaz all of the plugins I have tried installing do not work. `devdocs` `lipsum` and `linux` so far are ones I've tested. (tried typing in `devdocs`, `lipsum` and `shutdown` to test the respective plugins, but nothing but google search and translate seems to come up).

The plugins appear to have installed themselves, and when I install a new plugin nothing seems untoward in either of the c

[2017-02-26 20:36] maximbaz commented on #167
Could you please open a different issue for that? I can repro it as well, I'll add some details in there.

[2017-02-26 20:53] AlexAlabyev commented on #168
I think it's already there, mate

![1](https://cloud.githubusercontent.com/assets/13764106/23343572/b685abd2-fc7e-11e6-9b26-472018ee8bb6.PNG)

[2017-02-26 20:59] mijoharas opened #169 "Plugins unable to be triggered"
Only error is:

[code]

all of the plugins I have tried installing do not work. `devdocs` `lipsum` and `linux` so far are ones I've tested. (tried typing in `devdocs`, `lipsum` and `shutdown` to test the respective plugins, but nothing but google search and translate seems to come up).

The plugins appear to have installed themselves, and when I install a new plugin nothing seems untoward in eithe

[2017-02-26 21:00] mijoharas commented on #167
Thanks @maximbaz new issue is https://github.com/KELiON/cerebro/issues/169

[2017-02-26 21:03] maximbaz commented on #169
What I additionally observed is that after I install the plugin it is appearing in `~/.config/Cerebro/plugins/package.json`, but they are missing from `~/.config/Cerebro/plugins/node_modules`.

Furthermore, running `npm install` from `~/.config/Cerebro/plugins` directory downloads the plugins and then they are working in cerebro.

[2017-02-26 21:09] KELiON commented on #169
Hm, looks like I had to test properly #157 on Linux and Windows before merging it...

[2017-02-26 21:11] wilomgfx commented on #168
Damn it is. I searched for : celebro ahhaa.!

[2017-02-26 21:11] #168 closed

[2017-02-26 22:32] gautierdag commented on #112
A Spotify control and search plugin would be cool.

[2017-02-26 22:44] m1aw commented on #124
I just tried to install it directly from git and got:

`[0] yarn run v0.20.3
[1] yarn run v0.20.3
[0] $ node -r babel-register server.js
[1] $ cross-env HOT=1 NODE_ENV=development ./node_modules/.bin/electron -r babel-register ./app/main.development
[0] Listening at http://localhost:3000
[1] cat: /var/lib/dbus/machine-id: No such file or directory
[1] App threw an error during load
[1] Error: Comm

[2017-02-26 23:18] mijoharas commented on #169
@maximbaz you're right, that looks like it's a decent workaround for now.

[2017-02-26 23:21] maximbaz commented on #124
Have you applied the workaround for `node-machine-id` mentioned 4 posts above?

[2017-02-26 23:23] mijoharas opened #170 "Vim like movement keys"
Hi, just installed cerebro and I have to say that I'm quite enjoying it. I was opening this issue to check whether you'd be happy for me to implement a feature that I would quite like to have.

I use spacemacs and vimium and am quite used to using vim-like command keys to navigate around. I was wondering if it would be ok for me to add these to cerebro.

For instance, `Ctrl+j` would go down `Ctrl+

[2017-02-26 23:35] m1aw commented on #124
Your are right @maximbaz.
Sorry. Creating the symlink solves that issue, version from git is working now.

[2017-02-26 23:53] maximbaz commented on #170
I'd love to see such alternative shortcuts. I personally think there is no reason to hide them behind a feature flag, as currently they do nothing.

[2017-02-27 00:25] tunnckoCore commented on #124
Yea, symlinking works, but please ping us when there is more stable version, so we can update :)

[2017-02-27 00:35] maximbaz commented on #124
@KELiON do you want to follow up on this in https://github.com/automation-stack/node-machine-id/issues/8 ?

By the way, to make it clear what is being tracked in this issue I suggest renaming it, or closing and reopening #41.

[2017-02-27 01:21] masgritz opened #171 "Google Web Search doesn't work on Antergos/Archlinux"
First of all, I just wanted to say thank you for your hard work on this amazing app!

I'm using **cerebro-git** installed from the AUR after fixing the startup issue by following the symlink instructions in issue #124.

The Google Search isn't working on my system. When I open the Developer Console, the following errors are displayed:

[code]
Is there any additional information that you need?

[2017-02-27 02:13] tarvos21 opened #172 "Cerebro can't be opened because it's not from identified developer"
I have try to install Cerebro on macOS Sierra, after it's successfully installed into Applications, I try to open it, but it's says, Cerebro can't be opened because the developer is not identified. What's the problem? Anyone know? Thanks a lot.

[2017-02-27 02:37] codingmatty commented on #166
Yea, I like @AlexAlabyev idea of setting a shortcut to open Cerebro and automatically typing `clipboard`. It would be awesome to allow users to setup a hotkey to do that with any plugin, but you can start with just one, and make it reusable later on.

I was wondering what Alfred's snippet manager was all about. I never actually used it, but I just looked it up and definitely like the idea. I do wo

[2017-02-27 03:42] CrisLi commented on #100
Mac OS 1.11.6

After change default hot key `ctrl+Space` to any other, I can' t change it back to `ctrl+Space`.

[2017-02-27 04:03] jauzeyimam commented on #172
Go to System Preferences -> Security & Privacy and you should see a subheading "Allow apps downloaded from."  If you change that to "Anywhere" MacOS will allow you to open Cerebro.

[2017-02-27 05:54] tarvos21 commented on #172
Oh, @jauzeyimam, thanks for your response, I don't know why there is no "Anywhere" choice on my computer, but I finally got to allow it by one command:
`spctl --add /Applications/Cerebro.app`

[2017-02-27 05:54] #172 closed

[2017-02-27 08:37] omartin commented on #102
What would be the workaround on Mac to make it use another language than Russian as a translation options ?

[2017-02-27 09:06] KELiON commented on #166
@codingmatty I'd just store history for 1 week or 1 day instead of limiting it by count (would be even two different values for text and images).

Also, I'd store it in some cache file instead of memory – in this case you can reuse your clipboard history after you restart your computer or just restart Cerebro

[2017-02-27 10:11] naps62 opened #173 "URLs are opening with Firefox instead of Chrome"
Running on Arch Linux with i3 here.

Google chrome is opened right next to Cerebro, and running `xdg-open http://google.com` on a terminal  opens a new tab on chrome.

But cerebro is somehow opening urls on Firefox instead. I guess this is probably not a bug in cerebro, but in my OS configs. But how is cerebro figuring out what the default browser is, so I can properly configure my machine?

[2017-02-27 10:26] KELiON commented on #171
@masgritz can you try to reinstall it? There was an issue, but it was already fixed (check #167)

[2017-02-27 10:48] maximbaz commented on #173
In the end [shell.openExternal](https://github.com/electron/electron/blob/master/docs/api/shell.md#shellopenexternalurl-options-callback) is used, you might want to continue investigating on Electron's side.

You are right, it's probably something with your OS configs, I'm also on Arch with i3, have both Chrome and Firefox, and both Cerebro and `xdg-open` open Chrome.

[2017-02-27 11:17] toXel commented on #125
I have the same problems and I walked through the steps. This is the output:

[code]

[2017-02-27 11:19] KELiON commented on #125
@toXel do you also use proxy?

[2017-02-27 11:20] toXel commented on #125
Yes. And I can install npm packages without problems.

[2017-02-27 11:42] KELiON commented on #125
@toXel ok, than it is clear. Thanks!

[2017-02-27 11:56] codingmatty commented on #166
Yea, I wonder if it would be worth using IndexDB to store the info.
The current implementation with a simple array was definitely more of a
proof of concept. I wanted to see if watching the clipboard every second
was going to work out well, and it seems to be foing just fine on my
computer.

I am envious of Alfred's implementation. They seem to have so much more
information such as which app the c

[2017-02-27 13:41] chrisdail commented on #100
I was having issues with this too on Mac OS. After changing the keys for both 'Input Sources' and 'Spotlight' to something else, I was still not able to choose Cmd+Space as they key in cerebro.

I found that if you restart cerebro after making the changes to the system shortcuts, then you can select Cmd+Space. So you should try restarting Cerebro as this worked for me.

[2017-02-27 14:18] atuttle commented on #100
My hero!

[2017-02-27 14:26] saketh-bobby opened #174 "Javascript Error: unable to find registry key or value"
**On Windows 10 and latest version of cerebro** right after installing the app startup fails due to this error

![2017-02-27](https://cloud.githubusercontent.com/assets/12474004/23364864/c2f7e756-fd26-11e6-933f-55012b047b44.png)

[2017-02-27 15:05] TheBusyBiscuit opened #175 "(Feature/Plugin Request) iTunes Integration"
I would love to be able to search and play songs from my iTunes Library using Cerebro.
I am sure this would rather be a Plugin instead of an integrated feature but I may post it here nonetheless.

Side note: I am using Windows 10, so it would be lovely if this was not a Mac-Only feature.

[2017-02-27 15:05] maximbaz commented on #174
@KELiON this looks like a Windows version of #41 / #124, isn't it?

[2017-02-27 15:25] masgritz commented on #171
I'm sorry, I didn't saw that one while I was looking through the issues.

I deleted the Pacaur the cache and reinstalled, after that the Search worked, but when I select one of the suggested results the following error appears:
[code]

[2017-02-27 16:38] saketh-bobby commented on #174
Yeah seems to be. So what's the solution.Update the machine-id dependency or something ? Or just checkout master and build ?

[2017-02-27 16:46] maximbaz commented on #174
I think the workaround would be to manually create the registry key in place where the app is trying to find it.

Also, have a look: https://github.com/automation-stack/node-machine-id/issues/9

[2017-02-27 17:01] tiagoamaro commented on #32
@Phrohdoh @captainhook just published https://github.com/tiagoamaro/cerebro-duck-duck-go. There's no result preview yet, but it's a bare minimum to replace default Google's results (as it always stays on top of it).

[2017-02-27 17:18] saketh-bobby commented on #174
Well most of them are saying that this arises because app is 64 bit but electron is 32 bit. So i guess installing 64 bit electron will work ? Or as you said manually creating registry key is the best solution ?

[2017-02-27 17:21] KELiON commented on #174
@saketh-bobby after 3rd issue about `node-machine-id` I see that it is not stable and we have to eliminate errors of this package. I've fixed this issue in #176.

You can download test build with this fix [here](https://www.dropbox.com/s/hylenaysj374lqg/Cerebro%20Setup%200.2.6.exe?dl=0)

[2017-02-27 17:31] KELiON commented on #32
@tiagoamaro @Phrohdoh @captainhook awesome! I'm going to add settings for core plugins, so users could disable, i.e. google

[2017-02-27 17:39] saketh-bobby commented on #174
Even the test build is not working for me !! Same error

[2017-02-27 18:02] codingmatty commented on #154
Closing this, since the last time I did it it worked. Fluke, I suppose?

[2017-02-27 18:02] #154 closed

[2017-02-27 18:05] KELiON commented on #154
@codingmatty anyway should not be a case after #157. Now plugin is removed only when new version is downloaded and extracted to temp folder

[2017-02-27 18:07] KELiON commented on #175
@TheBusyBiscuit question: how do you see this plugin, only search and start playing of the song from your library? Do you need controls like next/prev/pause?

[2017-02-27 18:07] Novodk opened #179 "[Feature/Plugin Request] GMail integration"
Is it possible to make an GMail plugin

[2017-02-27 18:18] luisdavim opened #180 "[Feature/Plugin Request] brew formulas search and install"
Hi,

in macOS I use [homebrew](https://brew.sh/) and it would be cool if cerebro could search and install brew formulas, maybe it could search by scraping http://searchbrew.com/ or http://brewformulas.org/

There is also [linuxbrew](http://linuxbrew.sh/) but I'm not aware of any search page for it's formulas.

[2017-02-27 18:27] kylewebdev opened #181 "Replacing toggle shortcut with Command + Space"
When trying to make the shortcut to toggle Cerebro the same as Spotlight on MacOS, I cannot use `Command + Space` as a shortcut, even after disabling all MacOS shortcuts that use `Command + Space`.

[2017-02-27 18:34] aleclarson commented on #65
+1

If fuzzy-finding is too noisy, we could still find a way to get `sys pref` to select System Preferences. Seems like this would be simple enough to add.

[2017-02-27 18:39] TheBusyBiscuit commented on #175
well as many as controls as possible would be perfect but only if that is possible, I don't really know how far iTunes' API goes when it comes to JavaScript. But I am mainly looking for queries like
'iTunes Smash Mouth' (artist)
or
'iTunes All Star' (song name)
to show songs and then be able to play them via click.

But I don't really think the next/prev controls would make too much sense in searc

[2017-02-27 19:49] ACinnamonUserInUK opened #182 "Fonts look bad on Linux"
I like this program, except that the fonts in the results list look fairly dreadful in Linux (or at least on my system: Mint18.1 Cinnamon x64). Is antialiasing, or hinting, enabled? The problem is somewhat exhibited in this screenshot:

![image](https://cloud.githubusercontent.com/assets/9998846/23376855/987c7498-fd25-11e6-8bb5-0da5a2a203da.png)

A bit more configurability - being able to give the

[2017-02-27 20:33] megamorphf commented on #60
there is a bug related virtual box and all other programs that use webkit in their stack (google chrome, atom etc... ). You can workaround this issue by following these steps:

1. locate `.desktop` file:  `/home/<username>/.local/share/applications/appimagekit-cerebro.desktop`
2. Edit `.desktop` file line:
from:
[code]
to:
[code]

[2017-02-27 20:42] megamorphf opened #183 "Installed programs are not found in cerebro search"
Hello I've installed cerebro on my second linux machine, but on new instance I can't see any installed programs eg. spotify, google chrome etc.  Is there some sort of setting I am missing, or the installation location is bad?

[2017-02-27 21:03] davebrny commented on #102
there might be times when you want to use a different language as the source, but if the default is set in the settings then each time you start a new search it would switch back to that default. so remembering the last used language might be a better option? that way you could use spanish as the source for a while, then switch back to your default language once you are done.

it would be good if

[2017-02-27 21:13] StarpTech commented on #56
@KELiON The references issue has nothing to do with windows

[2017-02-28 00:17] masterperas commented on #115
I made a small plugin that uses the Everything cli
https://github.com/masterperas/es-everything-plugin

[2017-02-28 00:18] masterperas commented on #112
following @reflog i made a small plugin to allow for full search on windows environment, it works through Everything CLI by voidtools https://github.com/masterperas/es-everything-plugin

[2017-02-28 02:16] alucard0134 opened #184 "MyAnimeList Integration"
for us weeb degenerates who use this app would appreciate to look up our animus with ease

pls & thx

[2017-02-28 06:04] joydo commented on #181
I have this same problem , there is any efficient method for solving this issue ??  Online Waiting !!!!!

[2017-02-28 07:26] SurPaul commented on #96
I have the same problem. Terminal does not show anything. "Plugins" and "Preferences..." don't work

[2017-02-28 09:00] bpatram commented on #181
Same issue here, running version `0.2.6`. Seems like Cmd+Space is the only shortcut I can't set it to

[2017-02-28 09:03] bpatram commented on #181
@kylewebdev See https://github.com/KELiON/cerebro/issues/100#issuecomment-282732820

I had the same issue, try closing and re-opening Cerebro after removing the default Spotlight key shortcut

[2017-02-28 09:32] ch3ckmat3 commented on #112
A plugin based on [http://www.filechef.com/](http://www.filechef.com/) search formulas...

[2017-02-28 14:36] Chippi opened #187 "Google Maps looks bad with the dark theme"
![](http://i.imgur.com/2QEJWfM.png)

[2017-02-28 15:07] simsketch opened #188 "[Feature Request] Ctrl+Enter key automatically appends .com TLD to word"
ie: stackoverflow `Ctrl+Enter` will open stackoverflow.com

Thanks for considering this feature!

[2017-02-28 15:38] luisdavim commented on #187
the map view is not that bad but if you switch to satellite it becomes unusable.

[2017-02-28 16:33] #132 closed

[2017-02-28 17:10] kylewebdev commented on #181
@bpatram Thanks!

[2017-02-28 17:52] SkaceKamen commented on #174
The key is there, the reg query just fails from unknown reason. The command (`%windir%\System32\REG QUERY ....`) works fine, when executed in console.

[2017-02-28 19:19] uncedric commented on #183
Same here, that would be a nice feature to have.

[2017-02-28 19:22] cseale opened #190 "Download Links are not working on website"
https://cerebroapp.com

Download for mac link fails every time

[2017-02-28 19:50] narekvardanjan commented on #190
Tried wget from github release page. It seems amazon-cloud doesn't respond.

[2017-02-28 19:57] KELiON commented on #56
@StarpTech oops, it had to be #14

[2017-02-28 20:00] KELiON commented on #190
@cseale unfortunately it is uploaded to Amazon S3 that has problems now, you can check their status [here](https://status.aws.amazon.com/) (Amazon Simple Storage Service (US Standard))

[2017-02-28 20:56] SkaceKamen commented on #16
I was able to read file icons on windows using binary written in C# which extracts the icon and returns their base64 contents, which is same principle as `icon-extractor` is trying to use.

This is probably the worst solution, because:
 - said binary file must be included in the application
 - despite being only 100 lines of code in C#, it's still part written in another language
 - it introduces

[2017-02-28 21:10] KELiON commented on #190
@cseale if you want you can use one of these dev. builds:

MacOS:
https://www.dropbox.com/s/ru6jnfg32c3sco2/Cerebro-0.2.6.dmg?dl=0

Windows:
https://www.dropbox.com/s/hylenaysj374lqg/Cerebro%20Setup%200.2.6.exe?dl=0

Linux .deb:
https://www.dropbox.com/s/hy4p58nsom9p3i1/cerebro_0.2.6_amd64.deb?dl=0

Linux .AppImage
https://www.dropbox.com/s/h8h98wb78bfov3a/cerebro-0.2.6-x86_64.AppImage?dl=0

It ca

[2017-02-28 21:10] #190 closed

[2017-02-28 21:20] KELiON commented on #112
@flavioheleno maybe you want to try [cerebro-devdocs](https://github.com/KELiON/cerebro-devdocs) plugin, that uses https://devdocs.io/. PHP documentation is also available there

[2017-02-28 21:26] KELiON commented on #43
Ok, finally gitter is a leader! https://gitter.im/KELiON-cerebro is official channel

[2017-02-28 21:26] #43 closed

[2017-02-28 21:38] KELiON commented on #46
@AlexAlabyev can you please answer my previous question? I'm not sure what is better way to do on windows

[2017-02-28 21:45] KELiON commented on #188
@simsketch I suppose you are going to use this feature only for sites, that you are visiting a lot (I think for other sites in most cases you're going to use search).

So, what you can do now is to "teach" cerebro. I.e. open cerebro, type stackoverflow.com and open this url. After that, when you type `stack` you'll have suggestion:

![screen shot 2017-02-28 at 22 44 36](https://cloud.githubusercon

[2017-02-28 21:49] simsketch commented on #188
Well, that works for me! thanks!

[2017-02-28 21:49] #188 closed

[2017-02-28 22:11] AlexAlabyev commented on #46
@KELiON sorry, what is the question are you referring to? Are you asking whether or not I can open the search bar after triggering the error on Windows? If that's what you meant, the answer is no, I have to close the cerebro app and restart it every time this error pops up.
(The error can be triggered by `alt + f4` while search bar is opened)

[2017-03-01 02:22] codingmatty opened #193 "When installing plugins, allow manual reload"
I have had to setup 2 new computers in the last few weeks, and going in and installing all the plugins that I want becomes tedious, because it reloads after each installation. Hopefully, I won't have to setup a new computer for a long time, but I could see it being a hurdle for not only new users, but also as there are more and more plugins it becomes harder to look through all them and install th

[2017-03-01 05:46] kion commented on #128
Confirmed. I had same exact issue caused by .desktop file name encoding. Removing .desktop file fixed the issue for me, but, obviously, it's just a workaround and issue needs a fix.

[2017-03-01 07:06] KELiON commented on #193
@codingmatty already solved! In #157 I've implement real-time plugin loading, so you don't even need to reload app, plugin is loaded automatically after installation

[2017-03-01 07:06] #193 closed

[2017-03-01 11:44] AlexAlabyev commented on #46
@KELiON do you think this function might resolve the problem?: [https://github.com/jprichardson/electron-window/blob/master/lib/main.js#L25](https://github.com/jprichardson/electron-window/blob/master/lib/main.js#L25)

[2017-03-01 11:59] AlexAlabyev commented on #46
@KELiON @maximbaz these guys here [https://github.com/tinytacoteam/zazu](https://github.com/tinytacoteam/zazu) are using a different approach and their app's search bar doesn't have this issue, it is getting closed only by pressing `Esc` or clicking outside the window. In their case `alt + f4` is closing the app itself (not only the search bar), I think that's how it should be for Cerebro as well.

[2017-03-01 12:42] Razzile commented on #155
I think the cause of this may be this line https://github.com/KELiON/cerebro/blob/d994e0b62ecc5d8af17e42efbac48642098ce047/app/main/plugins/core/cerebro/settings/Settings/styles.css#L6

Helvetica Neue isn't available on anything except macOS afaik (without downloading it separately)

[2017-03-01 13:19] flavioheleno commented on #112
cool @KELiON, I'll check it. My idea around [cerebro-php](https://github.com/flavioheleno/cerebro-php) is to render the doc right in the display, making it handy for a quick check, but I'm quite far from that at this point :-)

[2017-03-01 14:10] KELiON commented on #112
@flavioheleno so, you'll like devdocs plugin:)

![screen shot 2017-03-01 at 15 10 14](https://cloud.githubusercontent.com/assets/594298/23463290/3d0cd860-fe91-11e6-8fcb-486023a602f9.png)

[2017-03-01 17:03] flavioheleno commented on #112
ha! that's **exactly** what I wanted! brilliant @KELiON! I'm gonna ditch my plugin and move over to that one :-D

[2017-03-01 17:34] dar5hak commented on #184
That's a great idea for an external plugin you could write! Check out the [plugin docs](https://github.com/KELiON/cerebro/blob/master/docs/plugins.md) to learn how.

[2017-03-01 17:39] dar5hak commented on #183
@megamorphf Could you provide more info? What distro and version are you using? What was on the first machine?

[2017-03-01 20:08] #143 closed

[2017-03-01 20:13] alucard0134 commented on #184
man i already am too depressed with other shit

[2017-03-01 20:35] SkaceKamen commented on #16
I've made solution that uses node-ffi, so no .NET dependency!

You can find it here: https://github.com/SkaceKamen/win-icon-extractor

I've already successfully integrated it into cerebro, but need some time to polish it.

[2017-03-01 21:11] megamorphf commented on #183
on the first machine I was using linux mint 18 and all apps worked fine.
The non working machine was on mint 17. On the working machine my
'.AppImage' was located: ~/Tools/cerebro. On the broken one: ~/Downloads
On Wed, 1 Mar 2017 at 19:39, Darshak Parikh <notifications@github.com>
wrote:

[2017-03-02 05:28] lubien commented on #184
If you could wait until next week I volunteer to make this plugin @alucard0134.
Using cerebro will be way better than [my CLI app](https://github.com/lubien/popura-cli)

[2017-03-02 10:15] AlexAlabyev opened #200 "[Plugins] Moving installed plugins on top and showing only available for the OS"
Is it possible to parse the plugin list like on the image below, where there's 2 lists containing:
- installed plugins (they move on top, under the 1st list)
- and below that, there is a list of available plugins.

![2](https://cloud.githubusercontent.com/assets/13764106/23502712/cd294056-ff49-11e6-8a88-457e57bf0b22.png)

Maybe even hide the once that are not compatible with current OS, and show a

[2017-03-02 15:43] SquirrelsMcGee opened #201 "Entering the € character on certain keyboards causes the input field to be overwritten"
On a Lenovo Thinkpad x230 using UK layout, you have to press `Alt Gr + 4` in order to type €

Expected result: € character added to end of input
Actual result: Input overwritten, only € remains

Update: In some cases it works as expected, for example writing `€50` works fine, and subsequently `€50€`, however writing `50€` does not

[2017-03-02 16:36] #46 closed

[2017-03-02 16:36] tanrax opened #202 "Search files"

[2017-03-02 20:56] tchudyk opened #204 "Super-key shortcut"
Please, give possibility to active Cerebro on 'Super' key (this with windows icon) - only one key (no key combination like Super + Space).

[2017-03-02 21:25] Kageetai commented on #202
Sorry to sound that mean, but if I'd be the owner I'd just close issues like this.
Can you please specifiy more on what you mean or what your problem and environment is?

[2017-03-03 00:51] lubien opened #205 "Awesome Cerebro"
I'm currently in love with this app and I can't stop thinking in how to improve it with plugins.

I just made an [awesome list for Cerebro](https://github.com/lubien/awesome-cerebro). It'd be a good way to build a community-driven list of useful resources to Cerebro developers/users.

It also decouples the plugin list from your README so no need to commit here just to update the list.

I hope you

[2017-03-03 01:47] IniZio commented on #204
I tried using Super + Space and it does work

[2017-03-03 01:56] IniZio opened #206 "Install plugins from npm?"
So cerebro-npm is not on the plugins list on my cerebro installation and i tried to install it by doing `yarn add cerebro-npm` on the `.config/Cerebro/plugins` folder, but after restart it does not seem that Cerebro recognised the newly installed plugin?

[2017-03-03 02:57] lubien commented on #206
See #194 and #203

[2017-03-03 03:41] gusbemacbe opened #207 "Ubuntu 16.04: Error in the terminal"
I installed `nodejs` before, but when I tried to install `cerebro` via terminal, I got an error:

[code]
Thank you for your attention!

[2017-03-03 04:01] lubien commented on #184
[Done](https://github.com/lubien/cerebro-mal)

[2017-03-03 04:08] alucard0134 commented on #184
![i love you](https://a.safe.moe/nA4HU.GIF)

[2017-03-03 04:08] #184 closed

[2017-03-03 04:09] lubien commented on #184
![](http://i.imgur.com/NNzJ8G8.gif)

[2017-03-03 12:37] IniZio commented on #206
So there already is an unmerged fix? Thanks!

[2017-03-03 15:37] dar5hak commented on #207
Get rid of the && and try those commands one by one. Which one yields the error?

[2017-03-03 19:55] ReeSilva opened #209 "My plugin not showing on Mac"
Hey guys.

I developed the plugin [cerebro-vagalume-plugin](https://www.npmjs.com/package/cerebro-vagalume-plugin). On my Linux notebook the plugin showed successfully when I search for plugins and I can install and use it, ok!

But on my Mac the plugin doesn't appear when I search. There's anything that I need to do to my plugin appears as an option on Mac?

Regards.

[2017-03-03 21:27] JordanAdams commented on #209
@ReeSilva Looks like this could be related to the fix made in https://github.com/KELiON/cerebro/pull/194. However it doesn't look like that change has been released yet.

[2017-03-03 22:07] matmunn opened #210 "Uncaught Error: Cannot find module "./preview/Archive" on Arch Linux"
This is a fresh install of the v0.2.6-1 package from the AUR.

Upon pressing Ctrl+Space I get nothing but a white window, I had to manually enable developer mode to be able to see the console to get the error.

[2017-03-03 22:22] matmunn commented on #210
The AppImage version appears to be working.

[2017-03-03 23:31] gusbemacbe commented on #207
It still gave the same error, but I discovered something.

It was prevented by `cmdtest` installed from Ubuntu. I removed `cmdtest` and replaced for `yarn` installed from `npm install yarn`, after ugrading to `nodejs 7`.

Unfortunately, after running `cd cerebro && yarn && cd ./app && yarn && cd ../`, it gave some errors of compatibility and download, Cerebro started, but after closing the termina

[2017-03-04 09:39] #200 closed

[2017-03-04 09:41] KELiON commented on #210
@matmunn you can try to use `cerebro-git` instead of `cerebro` AUR – it is the latest version with all fixes. Let me know if it works for you (`cerebro` will be fixed with next release, today I think)

[2017-03-04 09:42] KELiON commented on #209
@ReeSilva @JordanAdams yes, it is related and fixed, I'm going to release it today

[2017-03-04 09:42] #209 closed

[2017-03-04 09:43] #206 closed

[2017-03-04 09:45] KELiON commented on #201
@SquirrelsMcGee Wow, interesting. Do you know how `AltGr` works? Is it just another functional key or it is equivalent of `alt+(other key, like ctrl/shift)`?

[2017-03-04 09:46] KELiON commented on #181
@kylewebdev can you confirm that it solves your issue?

[2017-03-04 09:54] KTachibanaM opened #211 "Unable to find new apps installed on macOS"
After a new app is installed under `/Applications` on macOS Sierra, I was not able to find the new app installed until restarting cerebro.

[2017-03-04 10:01] #210 closed

[2017-03-04 10:01] matmunn commented on #211
I had this problem as well

[2017-03-04 10:24] KELiON commented on #180
@luisdavim nice! I'd also use this plugin. Implementation looks simple: there is an endpoint, like http://searchbrew.com/search?q=formula. I'd not include installation inside plugin, just open terminal with entered `brew install formula`

[2017-03-04 10:26] luisdavim commented on #180
I'll give it a try to implement it myself. If you are not working on it.

[2017-03-04 10:28] KELiON commented on #166
Moving discussion to [clipboard plugin](https://github.com/codingmatty/cerebro-plugin-clipboard/issues) repository

[2017-03-04 10:28] #166 closed

[2017-03-04 10:30] KELiON commented on #180
@luisdavim no, i'm not. I think you can use [cerebro-npm](https://github.com/jordanadams/cerebro-npm) as a basis

[2017-03-04 10:37] KELiON commented on #170
I'd just add j/k/l/h hotkeys (without ctrl), but I'm not sure what to do with input focus. In this case we should introduce two modes (like in vim). Now I see only one way is to add another flag to settings. If this flag is on, then:

1) When you open Cerebro window it is in insert mode
2) After you input something and use <kbd>esc</kbd> it switches to command mode
3) In command mode j/k/l/h keys

[2017-03-04 10:45] KTachibanaM commented on #211
Looks like it only happens with apps installed with App Store (a .dmg install doesn't have this problem)

[2017-03-04 10:49] matmunn commented on #211
I had the problem when installing from a .dmg

On Sat, 4 Mar 2017, 21:45 KTachibanaM <notifications@github.com> wrote:

[2017-03-04 11:45] maximbaz commented on #170
A whole separate mode is no doubt a much more powerful concept, I'm sure there will be other ideas what could we do in the command mode apart from navigating with <kbd>jklh</kbd>.

Just one wish: do not make <kbd>esc</kbd> from command mode close the window, let it better be <kbd>q</kbd>.

I'm used too much to the fact that hitting <kbd>esc</kbd> multiple times in vim does not hurt and just keeps

[2017-03-04 11:49] AlexAlabyev opened #212 "[Split plugins to categories | 0.2.7] doesn't work on Windows OS"
It looks like **[Split plugins to categories | 0.2.7]** doesn't work on Windows OS
Can anybody else confirm this?

In this example, I installed the Clipboard plugin, but it didn't go up on the top. App restart didn't help

![screenshot 935](https://cloud.githubusercontent.com/assets/13764106/23578497/6f938996-00e9-11e7-9e3a-5cafc4c401fa.png)

[2017-03-04 11:53] maximbaz commented on #127
The `cerebro` on AUR is updated to 0.2.7, you can get back to stable package if you want :tada:

/cc @Smile4ever, @Godod, @pschmitt, @Cross03, @quatroka, @hughwilliams94, @commanderkelso, @sava-vidakovic, @harryio, @tunnckoCore, @mijoharas, @m1aw.

[2017-03-04 12:07] maximbaz commented on #212
Curious how could this functionality be OS-specific, but yes, it doesn't repro on Linux.

[2017-03-04 12:09] AlexAlabyev commented on #212
@maximbaz that what I was wondering. Well, maybe PR [https://github.com/KELiON/cerebro/pull/208](https://github.com/KELiON/cerebro/pull/208) didn't make it to the .exe of the 0.2.7 build ?

[2017-03-04 12:17] maximbaz commented on #212
That's relatively easy to check, open DevTools (main) from the tray icon, hit <kbd>Ctrl+Shift+F</kbd> to search in all files, enter `categorize` and hit <kbd>Enter</kbd>.

If that code made into your app, you will see this:

![image](https://cloud.githubusercontent.com/assets/1177900/23578677/c758fd4e-00dc-11e7-971f-1fac259dd341.png)

Also check if you see any errors in the console tab.

[2017-03-04 12:23] AlexAlabyev commented on #212
@maximbaz there's no errors in the console. The `categorize` const is not there. So I guess, it didn't make it to the .exe after all

![1](https://cloud.githubusercontent.com/assets/13764106/23578721/58c3cd7a-00ee-11e7-95b3-d4342069d486.PNG)

[2017-03-04 12:30] maximbaz commented on #212
/cc @KELiON

[2017-03-04 13:08] tunnckoCore commented on #127
@maximbaz great! :tada:

[2017-03-04 13:27] setegonz commented on #180
0.2.7 release is not available through homebrew. Will this version be available anytime soon?

[2017-03-04 15:33] KELiON commented on #180
@setegonz sorry for the delay. It will be available in brew cask as soon as [this PR](https://github.com/caskroom/homebrew-cask/pull/30572) is merged

[2017-03-04 17:16] helionmelion opened #214 "unable to upgrade or install new version"
hello, today I tried to upgrade and then to uninstall and reinstall to cerebro 0.2.7-2 from AUR (archlinux) but found this error:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'run', 'build' ]
2 info using npm@4.3.0
3 info using node@v7.7.1
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info lifecycle cerebro@0.2.7~prebuild: cerebro@0.2.7
6 sill

[2017-03-04 21:16] shkm commented on #170
Would love this.

On a related note, the Emacs-like ctrl+p / ctrl+n for up and down respectively would be great. These shortcuts are prevalent throughout OS X, though I'm running Cerebro on a Linux box and I miss them (coming from Alfred). Different issue?

[2017-03-04 21:53] tim-hm commented on #112
I would love to see an Evernote plugin which let's you search your notes and quickly add new ones.

[2017-03-04 21:59] luisdavim commented on #180
Hi, here's my first attempt at it:
https://github.com/luisdavim/cerebro-brew

I still need to update the README file and this doesn't work 100% for my case because I'm using tmux and the text gets pasted into the terminal before tmux is initialized, I can increase the delay before pasting the text but that might give a bad experience to who has their terminals initializing faster.

Can you try it

[2017-03-05 02:07] maximbaz commented on #214
Hey @helionmelion, thanks for the notice, I completely forgot to update build steps to use `yarn` instead of `npm`. Please try again on `0.2.7-3` and let me know if you still experience this issue.

[2017-03-05 11:47] mijoharas commented on #170
:+1: command mode is even better in my opinion, as that's nice and natural to me. Thanks!

[2017-03-05 13:48] troglotit commented on #170
I'd vote for hybrid-mode: Ctrl-h/j/k/l Ctrl-n/p (and maybe ctrl-f/b). Introducing modes to an app is such a burden from maintenance point of view.

[2017-03-05 13:57] maximbaz commented on #170
It doesn't have to be one or another, the shortcuts <kbd>Ctrl+j/k/h/l/n/p</kbd> are unused now and can be added right away, for everyone, not controlled by any settings - and for some people that would be enough.

The command mode is a different beast, it has to be hidden in the settings and disabled by default, otherwise people will just be confused a lot. But it potentially provides much more co

[2017-03-05 16:29] helionmelion commented on #214
it works now thank you very much!

[2017-03-05 16:29] #214 closed

[2017-03-05 17:25] maximbaz opened #217 "Quite many plugins cannot be installed, failing on `requirePlugin`"
The logs in the console are pretty much the same for all of the affected plugins:

[code]

I tried quite a few plugins, can reproduce with:

- devdocs
- stackoverflow
- hash
- imdb
- timestamp

However the `clipboard` plugins can be installed just fine.

Is this really a separate issue with every single plugin, or rather something fishy with Cerebro itself?

[2017-03-05 17:25] luisdavim commented on #180
I've updated the readme file and published the plugin.

[2017-03-05 18:10] AlexAlabyev commented on #217
Just tried to install stackoverflow and imdb plugins on Windows [build 0.2.7]. And it works fine.

But the 0.2.7 build for Windows doesn't have the "plugin sorting" function, as you remember from [https://github.com/KELiON/cerebro/issues/212](https://github.com/KELiON/cerebro/issues/212). Could it be that this is what causing the problem on Linux then?

[2017-03-05 18:23] maximbaz commented on #217
Yeah, I'm not sure on what code the Windows build is based 🙂

Maybe you could test in a dev version? Or package a Windows installer for yourself, based on the 0.2.7 release code, or even on the latest `master`? 🙂

It's not very different from [running a dev build](https://github.com/KELiON/cerebro#install), I think the packaging command is `yarn run package`, and you would be able to verify both t

[2017-03-05 18:43] tiagoamaro commented on #205
Many plus ones for this one. Since plugins can be freely generated by Cerebro's users, managing a plugin list at the main README will be unbearable. Having an awesome list for this is a 💯!

[2017-03-05 19:38] KELiON commented on #217
@maximbaz did you try to remove all plugins from config folder → plugins/node_modules?

[2017-03-05 19:47] maximbaz commented on #217
Just tried that on dev build (not to break my working cerebro), removed entire `~/.config/Electron/plugins` folder, restarted the app, tried to install `devdocs` and `imdb` - same issue with "Invalid or unexpected token". The plugin files are appearing under `plugins/node_modules` folder, but are failing upon require.

I take it, it doesn't repro on Mac either?

[2017-03-05 20:19] maximbaz opened #218 "Feature request: show new plugins in a separate category"
Besides "Installed" and "Available" plugin categories I'd love to see the "New" category, showing plugins that have been just recently created. As a user I would like to monitor new plugins that are appearing every now and then, but I don't want to scroll through the entire list every time.

It could either be based on the plugin's creation date (if this info can be queried), or we could locally c

[2017-03-05 21:06] KELiON commented on #217
@maximbaz no, everything is ok on Mac. Tested in prod build and dev.

Node and Chromium versions are fixed in the app and doesn't depend on system. Fact that it works on windows and mac, but doesn't work on Linux is weird.

I have only one idea of debugging it: can you try to remove these packages, download source code of one of them (lets do it with devdocs, it is easy to debug, because I've crea

[2017-03-05 21:13] maximbaz commented on #217
Just did that, plugin loaded, everything is working fine. Could it be an issue only with code minification? But it's weird that you don't reproduce it...

[2017-03-05 21:27] KELiON commented on #217
@maximbaz you can also try it: run `npm run build` and create symlink to the plugin (you can copy symlink path from `scripts/debug`). It will be the same version of code that is published to npm

[2017-03-05 21:46] maximbaz commented on #217
I can't believe I didn't try this earlier, but here it is: the plugin fails to load only when being installed, if I restart Cerebro, the plugin will work.

This is still weird, as during installation all the files are present in the correct location (it says it cannot parse the file, not that it cannot find the file), and again, this issue doesn't happen to all plugins - the `clipboard` plugin has

[2017-03-05 22:16] maximbaz commented on #217
I figured it out, it is a race condition. Have a look at #219, perhaps you have better ideas how to fix it.

[2017-03-06 02:13] mubaris opened #220 "How to install plugins manually? – add information to Readme.md"
I am not able to install plugins using `plugins` keyword. I guess it's a network proxy problem or something else. Can anyone please explain how to do it manually?

[2017-03-06 04:44] pjz opened #221 "Feature Request: Toggle via commandline"
I'd like a way to toggle cerebro on via the commandline, instead of via a hotkey.  The reason is that I use my window manager to do all my other keyboard remapping, and it would be nice to have it all in one place.  The idea is that calling a new command `cerebro-toggle` from the commandline would be the equivalent of hitting the hot-key.  Oh, and providing a way to disable the hotkey would be nic

[2017-03-06 08:12] BrainMaestro commented on #218
Yeah I like that idea. I think I prefer the local plugin cache method. The only issue with that is a plugin that has been around for over a month can appear as new for a user that does not check their plugins often. Is that acceptable?

[2017-03-06 09:37] BrainMaestro opened #222 "Plugin settings in the settings UI"
Some plugins need to be able to store settings. An example would be an `API_KEY` for the stackoverflow plugin to prevent rate limiting, but there are many possible scenarios. I'm not sure how the plugin authors currently implement it, but wouldn't it be nice if a plugin can register the settings it needs, and those options show up in the cerebro settings under a category for the app. Similar to ho

[2017-03-06 09:42] maximbaz commented on #218
I think that totally makes sense, when that user will finally check their plugins after 1 month, they are still interested in the question "what's new, what has changed since last month?".

[2017-03-06 10:51] SquirrelsMcGee commented on #201
No i don't unfortunately, but I do believe it's a modifer key and that it appears on many UK style keyboards

[2017-03-06 13:19] csk commented on #202
If i would try to guess, it seems related to #115 . Still, the lack of description is lazy.

[2017-03-06 14:58] #202 closed

[2017-03-06 17:45] dar5hak commented on #218
Instead of a separate category, how about just bubbling up the new plugins to the top of the **Available** category and indicating them by a :star2: or something? That also gives way to a future possibility of :fire: plugins.

[2017-03-06 22:34] vedransavi commented on #183
I also have an intermittent issue's where I cant find any applications.
Plugins still work (convertColor, IP etc...), there are just no results when searching for apps.
ie. 'Terminal' only shows google search or translate.

[2017-03-07 10:18] gluons commented on #205
This is awesome.
Have you PR to [sindresorhus/awesome](https://github.com/sindresorhus/awesome)?

[2017-03-07 10:27] gluons commented on #117
`.AppImage` is similar to Windows  portable`.exe`, right?

[2017-03-07 10:38] vedransavi commented on #183
I get this error: Uncaught (in promise) TypeError: Cannot read property 'replace' of undefined(…)

Error refers to: return arrayReduce(words(deburr(string).replace(reApos, '')), callback, '');

[2017-03-07 12:50] gtrias commented on #183
I'm having the same issue using arch-linux using cerebro-git from AUR (https://aur.archlinux.org/packages/cerebro-git/).
How I can see the logs to report here?

[2017-03-07 13:37] KELiON commented on #222
I think it is necessary feature and I had it in my backlog! Would be nice if someone can help me with implementation of it. Do you want to start it @BrainMaestro?

### As I see it
We can use [json-schema](http://json-schema.org/) for plugin settings keys. When all plugins loaded we know which of them include `settings` key, so we can display inputs for these plugins in current "settings" view. Als

[2017-03-07 13:39] KELiON commented on #221
@pjz what OS do you use? I'm not sure how to do it on Linux, but on Windows and Mac should work custom protocol. I.e. on mac you can use `open` command in terminal: `open cerebro://search`. You can even provide search term to it by `open "cerebro://search?term=hello"`

[2017-03-07 13:49] KELiON commented on #211
@matmunn I'll try to reproduce it. Looks like [this watcher](https://github.com/KELiON/cerebro/blob/master/app/main/plugins/core/osx-apps/index.js#L92) is not always triggered

[2017-03-07 13:54] KELiON commented on #207
@gusbemacbe looks like terminal2.txt is cut.  Can you attach full version?

Also, still would be better if you can run command-by-command and see where you have an issue:

[code]

[2017-03-07 14:01] Abhinav1217 opened #223 "Can't map hotkey to ALT+Space from Settings GUI"
I was trying to map cerebro to ALT+SPACE key. I wasn't able to do that via the settings GUI. I finally managed to achieve this by manually editing the config file via text editor. But Having able to do it via GUI is not possible.

[2017-03-07 14:22] Abhinav1217 opened #224 "How to install plugins in bulk."
How can I install plugins in bulk. Something like shell command which I can use to install multiple plugins on a fresh installed system.

[2017-03-07 14:23] BrainMaestro commented on #222
Yeah that's a good idea. I'll start it.

[2017-03-07 14:38] maximbaz commented on #201
<kbd>AltGr</kbd> is a separate modifier key, Windows identifies <kbd>AltGr</kbd> as <kbd>Ctrl+Alt</kbd>, but it's not common on other OS. For example on my Linux I have no problems typing `€` sign using <kbd>AltGr</kbd>, but if I type <kbd>Ctrl+Alt+any_number</kbd>, that indeed clears the line.

So it needs to be investigated, why <kbd>Ctrl+Alt+number</kbd> clears the input.

[2017-03-07 14:53] maximbaz commented on #224
That's easy, backup your `CONFIG_DIR/plugins/package.json` ([how to find CONFIG_DIR](https://github.com/KELiON/cerebro#config-file-path)), restore this file on the freshly installed system, and from that folder run `npm install`.

[2017-03-07 15:25] AlexSHoffman opened #225 "[Feature request] Google translate API"
Are there any ways to implement google translate API in cerebro, without breaking their API terms and conditions?

Google translate now can translate several more languages using its new neural network translate system, which is a lot better than older google translate algorithms which are already better than Yandex.Translate. I'm, personally just go to translate.google.com in like 8/10 cases, aft

[2017-03-07 16:31] KELiON commented on #225
@AlexAlabyev can you check if they have any free api? When I was trying to find it, they didn't have any free translate API so I decided to include yandex API instead

[2017-03-07 16:56] AlexAlabyev commented on #225
@KELiON it seems like they don't have free API, but, maybe one of these could work with cerebro?:
- [https://github.com/matheuss/google-translate-api](https://github.com/matheuss/google-translate-api)
- [https://ctrlq.org/code/19909-google-translate-api](https://ctrlq.org/code/19909-google-translate-api)

[2017-03-07 21:56] pjz commented on #221
I'm on Linux.  And cerebro doesn't register itself as a protocol handler for `xdg-open` to use.

[2017-03-07 22:22] vedransavi commented on #183
On MacOS... there is a icon in the titlebar.
Cerebro icon -> development -> dev tolls (main) it will give you console.

[2017-03-08 00:27] matmunn commented on #183
You need to have developer mode enabled in Cerebro settings to be able to see the submenu.

[2017-03-08 02:09] mquiles opened #226 "Cant install on Antegeros\Arch"
Just tried installing this and keep getting this error message.

Rebuilding native production dependencies for linux:x64
Error: spawn npm ENOENT
    at exports._errnoException (util.js:1029:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:193:32)
    at onErrorNT (internal/child_process.js:367:16)
    at _combinedTickCallback (internal/process/next_tick.js:80:11)
    at pr

[2017-03-08 02:44] saketh-bobby commented on #174
Yup the test build is working !!

[2017-03-08 02:44] #174 closed

[2017-03-08 06:04] arendon1 commented on #223
Hey @Abhinav1217 Do you mind elaborate a little bit more on the process? i'm trying to achieve the same task. Thanks in advance for your troubles.

[2017-03-08 08:55] Abhinav1217 commented on #224
Thanks.

[2017-03-08 08:55] #224 closed

[2017-03-08 09:17] gtrias commented on #183
Well, I was able to se the Developer Tools console but no error was thrown, so I can't figure why I don't see any app of my Arch Linux...

[2017-03-08 11:08] maximbaz commented on #226
Hey @mquiles, please try again, should be fixed now. Even though we use `yarn`, apparently we still require `npm` to build the binaries.

[2017-03-08 11:49] prcastro commented on #226
Now it installs here, seems to be fixed

[2017-03-08 11:52] prcastro opened #227 "Can't search on Google"
Just built Cerebro on Arch Linux and I can't perform search on google. Launching apps and translating works. The results appear on the right panel, but when I hit enter on top of one of them, nothing happens.

[2017-03-08 11:59] AlexAlabyev commented on #227
@prcastro the same thing on Win 10, search predictions list doesn't work

[2017-03-08 12:45] carlos-wong commented on #227
macos too, 2.6 is work, after upgrade to 2.7 the enter action of google search suggest is nothing happen

[2017-03-08 13:03] maximbaz commented on #227
[code]

Here:

	let Preview = class Preview extends _react.Component {
	  renderSuggestions(suggestions, searchFn) {
	    const className = [_styles2.default.wrapper, isStarWars(this.props.query) ? _styles2.default.starwars : ''].join(' ');
	    return _jsx('div', {
	      className: className
	    }, void 0, _jsx(_KeyboardNav2.default, {}, void 0, _jsx('ul', {
	      className: _styles2.default.l

[2017-03-08 13:20] carlos-wong commented on #227
I am sure this function is work on 0.2.6 versioin

[2017-03-08 20:47] floflow commented on #204
Amazing work on Cerebro !
But i agree, can't use SUPER key on Gnome3 (archlinux)

[2017-03-09 02:50] mquiles commented on #226
Works great now,  thanks for the quick response.

[2017-03-09 02:50] #226 closed

[2017-03-09 08:02] Schrims opened #229 "Multiple instances on windows possible"
On windows it seems to be possible to run multiple instances of the application.
This could be solved using [single-instance](https://github.com/electron/electron/blob/master/docs/api/app.md#appmakesingleinstancecallback).

![image](https://cloud.githubusercontent.com/assets/9212161/23741024/a95dc87e-04a6-11e7-98c8-70d0d18ae747.png)

![image](https://cloud.githubusercontent.com/assets/9212161/2374

[2017-03-09 15:17] KELiON commented on #227
[code]

🤔 looks like it is again something related to react-optimize plugin. I'll take a look

[2017-03-09 15:46] exislow commented on #181
I can confirm.

[2017-03-09 15:47] exislow commented on #135
I have exact the same problem as @rcalsaverini

Can someone fix this?

[2017-03-09 15:48] exislow commented on #125
I have the same problem. Is it possible to fix this?

[2017-03-09 15:50] letroll commented on #125
Same here I can install npm packages without problems.

[2017-03-09 22:20] gusbemacbe commented on #207
Here are the three separated files output from script via terminal.

[1 - cd cerebro && yarn.txt](https://github.com/KELiON/cerebro/files/832422/cd.cerebro.yarn.txt)
[2 - cd ./app && yarn.txt](https://github.com/KELiON/cerebro/files/832424/cd.app.yarn.txt)
[3 - cd ../ && yarn run dev.txt](https://github.com/KELiON/cerebro/files/832426/cd.yarn.run.dev.txt)

[2017-03-10 04:50] antonreshetov commented on #227
Также не работает поиск из списка

[2017-03-10 09:39] antimercy commented on #220
me too facing the same issue.

[2017-03-10 10:26] #180 closed

[2017-03-10 15:47] DrNightmare commented on #227
Downloaded and ran the AppImage for Cerebro (Ubuntu 16.04, 64-bit). I can press Enter to search on Google whatever term I've typed in the input field, but am unable to search for the suggestions that show up as I'm typing, on the right hand side. When I focus on one of the suggestions and press Enter, nothing happens.

[2017-03-10 23:50] tavomaciel commented on #204
Doesnt work on Unity (Ubuntu 16.10)

[2017-03-10 23:58] provalinf opened #231 "Application and file icons not displayed under windows"
Hello everyone,
I found (after a lot of trouble) your spotlight which is much more successful than what I have tested so far, excellent work continue like this!

Concerning the problem, I think you must already know it, but in doubt, no icon is displayed for applications and files under Windows.
If ever the OS version is important, I'm running Windows 7.
![cerebro_2017-03-11_00-57-58](https://clou